<div class="bg-light lter b-b wrapper-md">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="m-n font-thin h3 text-black">Edit Project</h1>
        </div>
    </div>
</div>
<div class="wrapper-md p-r-none">
    <div class="panel panel-default">
        <div class="panel-body">
            <form name="project_form" novalidate class="form-horizontal form-validation" ng-submit="save()">
                <div ng-include="'project/templates/_createOrUpdate.html'" class="edit-project"></div>
                <div class="form-group">
                    <div class="col-xs-10 pull-right">
                        <button ng-disabled="project_form.$error['required'] !== undefined || project_form.$submitted || picture.isUploadPicture || onSubmit"
                                loading-button="project_form.$submitted"
                                class="btn btn-primary" type="submit">Save
                        </button>
                        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
