.on-file-page {
  position: relative;
  .panel-heading {
//    padding: 0px;
    .nav {
      margin: 0px;
    }
    .nav-container {
      text-align: center;
      .navbar-default {
        min-height: 0px;
        .container-fluid {
          padding-right: 0px;
          padding-left: 0px;
          ul {
            li {
              a {
                font-weight: 600;
                padding: 10px 5px;
                &:hover {
                  color: #4984b8;
                }
                &:focus {
                  color: #4984b8;
                }
              }
              &.active {
                a {
                  color: #4984b8 !important;
                  background: none;
                }
              }
            }
          }
        }
      }
    }
  }
  .panel-body {
    padding: 15px;
    padding-bottom: 0px;
    .btn-group {
      margin-top: 23px;
      .btn-remove {
        margin: 4px 0 10px 0;
        float: right;
      }
    }
  }
  .cost-grid {
    margin-bottom: 10px;
  }
  .view-document-section {
    .tab-content {
      padding: 0px;
      .table {
        margin-bottom: 0px;
        th {
          border-top: 0px;
          font-weight: normal;
          background-color: #f4f4f4;
          color: #7a7a7a;
          padding: 8px 15px;
        }
        tr:hover {
          //background-color: #e1fcff !important;
          cursor: pointer;
        }
      }
    }
    .nav-tabs {
      li.active {
        a {
          background-color: #f4f4f4;
          border-bottom-color: #f4f4f4 !important;
          color: #58666e;
        }
      }
      li {
        a {
          font-weight: normal;
        }
      }
    }
  }
  .form-title {
    font-size: 16px;
    font-weight: bold;
  }
  .checkbox-inline {
    padding-left: 0px;
    margin-right: 20px;
  }
  .nav-tabs {
    li.active {
      a {
        color: #4984b8;
        font-weight: bold;
      }
    }
    li {
      a {
        color: #58666e;
      }
    }
  }
  .button-export {
    position: absolute;
    right: 15px;
    top: 15px;
  }
  
  .text-field {
    border: solid 1px #cfdadd;
    border-radius: 2px;
    padding: 5px 10px;
  }
}