.on-site-page {
  .buttons {
    margin-left: 20px;
    display: inline-block;
  }
  .table-responsive {
    td.file-icon {
      img {
        width: 64px;
      }
    }
    td {
      vertical-align: middle;
      a {
        text-decoration: underline;
        color: @brand-primary;
      }
    }
  }
  .file-thumbnail {
    display: inline-block;
    position: relative;
    .delete-button {
      top: -5px;
      right: -5px;
      position: absolute;
      cursor: pointer;
      .fa {
        font-size: 18px;
        color: red;
      }
    }
  }
  .preview-section {
    .panel-body {
      height: @onSite-height;
      iframe {
        width: 100%;
        height: 100%;
      }
      .image-preview-wrapper {
        height: 100%;
        text-align: center;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
  .comment-section {
    .panel-body {
      height: @onSite-height;
      .comment-content {
        border: solid 1px #d5d5d5;
        padding: 5px;
        border-radius: 5px;
        .commenter {
          color: @text-muted;
          a {
            color: @text-color;
            font-weight: bold;
          }
        }
        .date {
          position: absolute;
          right: 25px;
          top: 17px;
          font-size: 12px;
          color: @text-muted
        }
      }
      .add-comment {
        position: relative;
        border: solid 1px #d5d5d5;
        border-radius: 5px;
        padding: 5px 5px 0px 5px;
        form {
          display: table;
          width: 100%;
          .textarea {
            display: table-cell;
            vertical-align: top;
            width: 100%;
            textarea {
              width: 100%;
              border: 0;
              resize: none;
              min-height: 29px;
              border-radius: 5px;
              padding-top: 5px;
            }
          }
          .button {
            display: table-cell;
            vertical-align: top;
            button {
              padding: 3px 10px;
            }
            .ladda-button[data-style=expand-right][data-loading] {
              padding-right: 30px;
            }
            .ladda-button[data-style=expand-right] {
              .ladda-spinner {
                right: -16px;
              }
            }
          }
        }
      }
    }
    margin-left: -1px;
  }
  .search {
    width: 300px;
  }
  .doc-name {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 250px;
  }
  .header-title {
    .spliter {
      width: 10px;
      height: 1px;
    }
  }

  .normal-preview {
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}