.projectlist-page {
  h1 {
    .buttons {
      margin-left: 20px;
      display: inline-block;
    }
  }
  .project-grid {
    .project-box {
      .panel-body {
        padding: 5px 5px 5px 5px !important;
        .project-name {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: initial;
          font-weight: 600;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        .description-container {
          margin: 0 10px 10px 10px;
          .list-inline {
            display: table;
            width: 100%;
            li {
              display: table-cell;
            }
          }
          .project-description {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
        .project-image {
          a {
            display: block;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .project-list {
    .panel-body {
      position: relative;
      overflow: hidden;
      .project-image {
        width: 205px;
        position: absolute;
        top: 0;
        left: 0;
        margin: 15px;
      }
      .project-info {
        margin-left: 220px;
        .project-name {
          font-size: 18px;
          text-align: center;
          color: #000;
          margin-bottom: 10px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        .project-address {
          text-align: center;
          margin-bottom: 10px;
          color: #777777;
          font-size: 15px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        .project-buttons {
          margin: 10px 0;
          div.button {
            display: inline-block;
            width: 32%;
            text-align: center;
          }
        }
        .project-status {
          text-align: center;
          margin-bottom: 10px;
          position: relative;
          .pert {
            position: absolute;
            text-align: center;
            width: 100%;
            font-size: 21px;
            font-weight: bold;
            top: 50%;
            margin-top: -18px;
          }
        }
        .project-description {
          position: relative;
          padding-right: 35px;
          display: inline-block;
          p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
          a.more {
            position: absolute;
            top: 0;
            right: 0;
            color: #3476fb;
          }
        }
        &.has-address {

        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1224px) {
  .projectlist-page {
    .project-grid {
      .project-box {
        .panel-body {
          .description-container {
            .list-inline {
              li {
                a {
                  display: block;
                  text-align: center;
                  i {
                    display: block;
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

//@media (max-width: 1280px){
//  .projectlist-page {
//    .project-grid {
//      .project-box {
//        .panel-body {
//          .project-image {
//            height: 150px;
//          }
//        }
//      }
//    }
//  }
//}