.projectlist-page {
  .row {
    .project-container {
      margin: 0px 15px 15px 15px;
      .project-box {
       /* max-width: 310px;
        min-width: 260px;*/
        width: 310px;
        .panel-body {
          padding: 5px 5px 5px 5px !important;
          .project-name {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: initial;
            font-weight: 600;
          }
          .description-container {
            margin: 0px 10px 10px 10px;
          }
        }
      }
    }
  }
}