<div class="on-site-page">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">
                        onContact
                        <!--<button  class="btn btn-default pull-right" ><i
                                class="fa fa-arrow-left"></i> Back to list
                        </button>-->
                    </h1>
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md p-r-none" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="search">
                        <div class="input-group m-b">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                          </button>
                        </span>
                            <input type="text" class="form-control" ng-model="searchText" placeholder="Search Contacts"/>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" >
                        <table class="table table-striped b-t b-light">
                            <thead>
                            <tr>
                                <th ></th>
                                <th >Name</th>
                                <th >Discipline</th>
                                <th >Phone</th>
                                <th >Company Name</th>
                                <th >Company Address</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-if="isLoading">
                                <td colspan="5" class="text-center">
                                    <spinner text="Loading..."></spinner>
                                </td>
                            </tr>
                            <tr ng-repeat="projectmember in oncontacts | filter:searchText">
                                <td class="file-icon"><a href="javascript:void(0)" ><img ng-src="{{projectmember.contact.userImagePath | fileThumbnail}}"/></a></td>

                                <td >{{projectmember.contact.firstName}}&nbsp;{{projectmember.contact.lastName}}</td>
                                <td >{{projectmember.discipline}}</td>
                                <td >{{projectmember.phone.areaCode}}-{{projectmember.phone.phoneNumber}}</td>
                                <td >{{projectmember.companyName}}</td>
                                <td >{{projectmember.companyAddress}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <section ng-if="!isLoading && uploadedDocumentList.length && viewMode === 'grid'">
                        <div class="row" ng-repeat="docRow in uploadedDocumentArrangedList track by $index">
                            <div class="col-md-3" data-ng-repeat="doc in docRow track by $index">
                                <article>
                                    <div>
                                        <a href="javascript:void(0)" ng-click="preview(doc)"><img ng-src="{{doc.name | fileThumbnail}}" height="64px"/></a>
                                    </div>
                                    <div style="text-align:left">
                                        <h5>
                                            Document name:
                                            <a ng-click="preview(doc)">{{doc.name | fileName}}</a>
                                        </h5>
                                        <h5>
                                            Uploaded on: {{doc.createdDate | date:app.dateFormat}}
                                        </h5>
                                        <h5>
                                            Uploaded by: {{doc.createdByContact.firstName + ' ' +
                                            doc.createdByContact.lastName}}
                                        </h5>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>
</div>