<div class="content demo-sign-up-page">
    <div class="logo w-xxxl w-auto-xs">
        <a href class="logo m-b-lg block m-t">
            <img src="img/onTargetLogo.png"/>
        </a>
    </div>
    <div class="container w-xxxl w-auto-xs">
        <div class="text-success wrapper text-center" ng-show="signupMsg">
            {{signupMsg}}
        </div>
        <div class="text-center m-t m-b" ng-show="signupMsg"><a ui-sref="signin">Back to Sign in</a></div>
        <div class="m-b-lg" ng-hide="signupMsg">
            <form name="form" class="form-horizontal" ng-submit="demoSignup(user, form)" novalidate
                  autocomplete="false">
                <legend>
                    Request demo
                </legend>
                <div class='alert alert-warning'
                     ng-show="submitted && (form.$invalid)">
                    <span class="help-inline" ng-show="form.email.$error.required">Email is missing.<br/></span>
                    <span class="help-inline" ng-show="form.email.$error.pattern">Invalid email format.<br/></span>
                    <span class="help-inline" ng-show="form.firstName.$error.required">First name is missing.<br/></span>
                    <span class="help-inline" ng-show="form.lastName.$error.required">Last name is missing.<br/></span>
                    <span class="help-inline" ng-show="form.phoneNumber.$error.required">Phone number is missing.<br/></span>
                    <span class="help-inline" ng-show="form.msg.$error.required">Message is missing.<br/></span>
                    <span class="help-inline" ng-show="form.companyName.$error.required">Company name is missing.<br/></span>
                    <span class="help-inline" ng-show="form.companyType.$error.required">Please select a company type.<br/></span>
                    <span class="help-inline" ng-show="form.companyAddress1.$error.required">Company address one is missing.<br/></span>
                    <span class="help-inline" ng-show="form.companyCity.$error.required">City is missing.<br/></span>
                    <span class="help-inline" ng-show="form.companyCountry.$error.required">Please select a country.<br/></span>
                    <span class="help-inline" ng-show="form.companyState.$error.required">Please select a state.<br/></span>
                    <span class="help-inline" ng-show="form.companyZip.$error.required">Zipcode is missing.<br/></span>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="fa fa-envelope-o"></span>
                                </span>
                        <input name="email" type="email" id="email" ng-model="user.email"
                               class="form-control input-lg"
                               placeholder="Email" required="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="fa fa-user"></span>
                                </span>
                        <input name="firstName" type="text" id="firstName" ng-model="user.firstName"
                               class="form-control input-lg"
                               placeholder="First name" required="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="fa fa-user"></span>
                                </span>
                        <input name="lastName" type="text" id="lastName" ng-model="user.lastName"
                               class="form-control input-lg"
                               placeholder="Last name" required="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="fa fa-phone"></span>
                                </span>
                        <input name="phoneNumber" type="text" id="phoneNumber" ng-model="user.phoneNumber"
                               class="form-control input-lg" ui-mask="{{'(999)-999-9999'}}"
                               placeholder="Phone number" ui-mask-placeholder required="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="fa fa-comment-o"></span>
                                </span>
                        <input name="msg" type="text" id="msg" ng-model="user.msg"
                               class="form-control input-lg"
                               placeholder="Message" required="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="fa fa-building-o"></span>
                                </span>
                        <input name="companyName" type="text" id="companyName" ng-model="user.companyName"
                               class="form-control input-lg"
                               placeholder="Company name" required="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="fa fa-building-o"></span>
                                </span>
                        <select name="companyType" class="form-control input-lg" ng-model="user.companyTypeId" placeholder="Company Type"
                                required>
                            <option value="" selected>-- Select One --</option>
                            <option value="1">GENERAL CONTRACTOR</option>
                            <option value="2">CONSTRUCTION MANAGER</option>
                            <option value="3">SUBCONTRACTOR</option>
                            <option value="4">OWNER</option>
                            <option value="5">SPECIALITY CONTRACTOR</option>
                            <option value="6">ARCHITECTS/ENGINEERS</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="fa fa-road"></span>
                                </span>
                        <input name="companyAddress1" type="text" id="companyAddress1" ng-model="user.companyAddress1"
                               class="form-control input-lg"
                               placeholder="Address 1" required="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="fa fa-road"></span>
                                </span>
                        <input name="companyAddress2" type="text" id="companyAddress2" ng-model="user.companyAddress2"
                               class="form-control input-lg"
                               placeholder="Address 2">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="fa fa-building-o"></span>
                                </span>
                        <input name="companyCity" type="text" id="companyCity" ng-model="user.companyCity"
                               class="form-control input-lg"
                               placeholder="City" required="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="fa fa-globe"></span>
                                </span>
                        <select name="companyCountry" class="form-control input-lg" ng-model="user.companyCountry" placeholder="State"
                                required
                                ng-options="country.code as country.name for country in countries"
                                ng-change="getStateList()">
                            <option value="">-- Select --</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="fa fa-building-o"></span>
                                </span>
                        <select name="companyState" class="form-control input-lg" ng-model="user.companyState" placeholder="State"
                                required ng-options="state.code as state.name for state in states">
                            <option value="">-- Select --</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="fa fa-envelope-o"></span>
                                </span>
                        <input name="companyZip" type="text" id="companyZip" ng-model="user.companyZip"
                               class="form-control input-lg"
                               placeholder="Zipcode" required="">
                    </div>
                </div>

                <!--<button type="submit" class="btn btn-lg btn-primary btn-block m-t-lg"
                        ng-disabled="form.$invalid || form.$submitted">Sign up
                </button>-->
                <button type="submit" class="btn btn-lg btn-primary btn-block m-t-lg" ng-click="submitted = true">Sign up</button>

                <div class="text-right m-t m-b">Already have an account? <a ui-sref="signin">Sign in</a></div>
            </form>
        </div>
    </div>
</div>