<div class="content demo-sign-up-page">
    <div class="logo w-xxxxl w-auto-xs">
        <a href class="logo m-b-lg block m-t">
            <img src="img/logo1.png"/>
        </a>
    </div>
    <div class="container w-xxxxl w-auto-xs">
        <div class="text-success wrapper text-center" ng-show="signupMsg">
            {{signupMsg}}
        </div>
        <div class="text-center m-t m-b" ng-show="signupMsg"><a ui-sref="signin">Back to Sign in</a></div>
        <div class="m-b-lg" ng-hide="signupMsg">
            <form name="form" class="form-horizontal form-validation" ng-submit="demoSignup(user)" no-validate
                  autocomplete="false">
                <legend>
                    Register
                </legend>
                <div class="row text-center add-project">
                    <h4>Company Logo</h4>

                    <div class="picture-container align-center">
                        <a ngf-select ng-model="uploadModel.file" ngf-multiple="false">
                            <div class="overlay">
                                <p>Change picture</p>
                            </div>
                            <img file-path="project" path="{{user.companyLogoPath}}"/>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group input-group-first">
                                <span class="input-group-addon icon-image">
                                    <img src="img/First-Name.png">
                                    <span class="label-required"
                                          ng-show="form.firstName.$error.required">*</span>
                                </span>
                                <input name="firstName" type="text" id="firstName" ng-model="user.firstName"
                                       class="form-control input-lg"
                                       placeholder="First name" required="">
                            </div>
                            <ng-messages ng-if="form.firstName.$dirty"
                                         for="form.firstName.$error">
                                <span class="help-block m-b-none m-l-xxl text-danger" ng-message when="required">First name is missing.</span>
                            </ng-messages>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group input-group-first">
                                <span class="input-group-addon icon-image">
                                    <img src="img/Last-Name.png">
                                    <span class="label-required"
                                          ng-show="form.lastName.$error.required">*</span>
                                </span>
                                <input name="lastName" type="text" id="lastName" ng-model="user.lastName"
                                       class="form-control input-lg"
                                       placeholder="Last name" required="">
                            </div>
                            <ng-messages ng-if="form.lastName.$dirty"
                                         for="form.lastName.$error">
                                <span class="help-block m-b-none m-l-xxl text-danger" ng-message when="required">Last name is missing.</span>
                            </ng-messages>
                        </div>
                    </div>
                    <!--<div class="col-md-6">-->
                        <!--<div class="form-group">-->
                            <!--<div class="input-group input-group-first">-->
                                <!--<span class="input-group-addon">-->
                                    <!--<span class="fa fa-comment-o"></span>-->
                                <!--</span>-->
                                <!--<input name="msg" type="text" id="msg" ng-model="user.msg"-->
                                       <!--class="form-control input-lg"-->
                                       <!--placeholder="Message">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group input-group-first">
                                <span class="input-group-addon icon-image">
                                    <img src="img/Email.png">
                                    <span class="label-required"
                                          ng-show="form.email.$error.required">*</span>
                                </span>
                                <input name="email" type="text" id="email" ng-model="user.email"
                                       class="form-control input-lg"
                                       placeholder="Email" required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                            </div>
                            <ng-messages ng-if="form.email.$dirty"
                                         for="form.email.$error">
                                <span class="help-block m-b-none m-l-xxl text-danger" ng-message when="required">Email is missing.</span>
                                <span class="help-block m-b-none m-l-xxl text-danger" ng-message when="pattern">Invalid email format.</span>
                            </ng-messages>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group input-group-first">
                                <span class="input-group-addon icon-image">
                                    <img src="img/Phone.png">
                                    <span class="label-required"
                                          ng-show="form.phoneNumber.$error.required">*</span>
                                </span>
                                <input name="phoneNumber" type="text" id="phoneNumber" ng-model="user.phoneNumber"
                                       class="form-control input-lg" ui-mask="{{'(999)-999-9999'}}"
                                       placeholder="Phone number" ui-mask-placeholder required="">
                            </div>
                            <ng-messages ng-if="form.phoneNumber.$dirty"
                                         for="form.phoneNumber.$error">
                                <span class="help-block m-b-none m-l-xxl text-danger" ng-message when="required">Phone number is missing.</span>
                            </ng-messages>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group input-group-first">
                                <span class="input-group-addon icon-image">
                                    <img src="img/Company-Name.png">
                                    <!--<span class="label-required"-->
                                          <!--ng-show="form.companyName.$error.required">*</span>-->
                                </span>
                                <input name="companyName" type="text" id="companyName" ng-model="user.companyName"
                                       class="form-control input-lg"
                                       placeholder="Company name" >
                            </div>
                            <!--<ng-messages ng-if="form.companyName.$dirty"-->
                                         <!--for="form.companyName.$error">-->
                                <!--<span class="help-block m-b-none m-l-xxl text-danger" ng-message when="required">Company name is missing.</span>-->
                            <!--</ng-messages>-->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group input-group-first">
                                <span class="input-group-addon icon-image">
                                    <img src="img/Company-Type.png">
                                    <span class="label-required"
                                          ng-show="form.companyType.$error.required">*</span>
                                </span>
                                <select name="companyType" class="form-control input-lg" ng-model="user.companyTypeId"
                                        placeholder="Company Type">
                                    <option value="" selected>-- Company Type --</option>
                                    <option value="1">GENERAL CONTRACTOR</option>
                                    <option value="2">CONSTRUCTION MANAGER</option>
                                    <option value="3">SUBCONTRACTOR</option>
                                    <option value="4">OWNER</option>
                                    <option value="5">SPECIALITY CONTRACTOR</option>
                                    <option value="6">ARCHITECTS/ENGINEERS</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="row">-->
                <!--<div class="col-md-6">-->
                <!--<div class="form-group">-->
                <!--<div class="input-group input-group-first">-->
                <!--<span class="input-group-addon">-->
                <!--<span class="fa fa-road"></span><span class="label-required"-->
                <!--ng-show="form.companyAddress1.$error.required">*</span>-->
                <!--</span>-->
                <!--<input name="companyAddress1" type="text" id="companyAddress1"-->
                <!--ng-model="user.companyAddress1"-->
                <!--class="form-control input-lg"-->
                <!--placeholder="Address 1" required="">-->
                <!--</div>-->
                <!--<ng-messages ng-if="form.companyAddress1.$dirty"-->
                <!--for="form.companyAddress1.$error">-->
                <!--<span class="help-block m-b-none m-l-xxl text-danger" ng-message when="required">Company address one is missing.</span>-->
                <!--</ng-messages>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                <!--<div class="form-group">-->
                <!--<div class="input-group input-group-first">-->
                <!--<span class="input-group-addon">-->
                <!--<span class="fa fa-road"></span>-->
                <!--</span>-->
                <!--<input name="companyAddress2" type="text" id="companyAddress2"-->
                <!--ng-model="user.companyAddress2"-->
                <!--class="form-control input-lg"-->
                <!--placeholder="Address 2">-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--&lt;!&ndash;<div class="col-md-6">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="input-group input-group-first">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="input-group-addon">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="fa fa-building-o"></span><span class="label-required"&ndash;&gt;-->
                    <!--&lt;!&ndash;ng-show="form.companyCity.$error.required">*</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<input name="companyCity" type="text" id="companyCity" ng-model="user.companyCity"&ndash;&gt;-->
                    <!--&lt;!&ndash;class="form-control input-lg"&ndash;&gt;-->
                    <!--&lt;!&ndash;placeholder="City" required="">&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<ng-messages ng-if="form.companyCity.$dirty"&ndash;&gt;-->
                    <!--&lt;!&ndash;for="form.companyCity.$error">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="help-block m-b-none m-l-xxl text-danger" ng-message when="required">City is missing.</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</ng-messages>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->

                    <!--<div class="col-md-6">-->
                        <!--<div class="form-group">-->
                            <!--<div class="input-group input-group-first">-->
                                <!--<span class="input-group-addon">-->
                                    <!--<span class="fa fa-globe"></span>-->
                                    <!--<span class="label-required"-->
                                          <!--ng-show="form.companyCountry.$error.required">*</span>-->
                                <!--</span>-->
                                <!--<select name="companyCountry" class="form-control input-lg"-->
                                        <!--ng-model="user.companyCountry"-->
                                        <!--placeholder="State"-->
                                        <!--required-->
                                        <!--ng-options="country.code as country.name for country in countries"-->
                                        <!--ng-change="getStateList()">-->
                                    <!--<option value="">&#45;&#45; Country &#45;&#45;</option>-->
                                <!--</select>-->
                            <!--</div>-->
                            <!--<ng-messages ng-if="form.companyCountry.$dirty"-->
                                         <!--for="form.companyCountry.$error">-->
                                <!--<span class="help-block m-b-none m-l-xxl text-danger" ng-message when="required">Please select a country.</span>-->
                            <!--</ng-messages>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="col-md-6">-->
                        <!--<div class="form-group">-->
                            <!--<div class="input-group input-group-first">-->
                                <!--<span class="input-group-addon">-->
                                    <!--<span class="fa fa-envelope-o"></span><span class="label-required"-->
                                                                                <!--ng-show="form.companyZip.$error.required">*</span>-->
                                <!--</span>-->
                                <!--<input name="companyZip" type="text" id="companyZip" ng-model="user.companyZip"-->
                                       <!--class="form-control input-lg"-->
                                       <!--placeholder="Zipcode" required="">-->
                            <!--</div>-->
                            <!--<ng-messages ng-if="form.companyZip.$dirty"-->
                                         <!--for="form.companyZip.$error">-->
                <!--<span class="help-block m-b-none m-l-xxl text-danger" ng-message-->
                      <!--when="required">Zip code is missing.</span>-->
                            <!--</ng-messages>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div class="col-md-6">-->
                        <!--<div class="form-group">-->
                            <!--<div class="input-group input-group-first">-->
                                <!--<span class="input-group-addon icon-image">-->
                                    <!--<img src="img/State.png">-->
                                    <!--<span class="label-required"-->
                                          <!--ng-show="form.companyState.$error.required">*</span>-->
                                <!--</span>-->
                                <!--<select name="companyState" class="form-control input-lg" ng-model="user.companyState"-->
                                        <!--placeholder="State"-->
                                        <!--required ng-options="state.code as state.name for state in states">-->
                                    <!--<option value="">&#45;&#45; State &#45;&#45;</option>-->
                                <!--</select>-->
                            <!--</div>-->
                            <!--<ng-messages ng-if="form.companyState.$dirty"-->
                                         <!--for="form.companyState.$error">-->
                <!--<span class="help-block m-b-none m-l-xxl text-danger" ng-message-->
                      <!--when="required">Please select a state.</span>-->
                            <!--</ng-messages>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <button type="submit" class="btn btn-lg btn-primary btn-block m-t-lg" loading-button="form.$submitted"
                        size="lg" ng-disabled="form.$submitted || form.$invalid">Register now
                </button>

                <div class="text-right m-t m-b">Already have an account? <a ui-sref="signin">Login</a></div>
            </form>
        </div>
    </div>
</div>