<div class="on-time-page">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">
                        <button class="btn btn-default" ng-click="changeTab('taskManagement')"
                                ng-class="{'selected': selectedTab==='taskManagement'}" permission="VIEW_ACTIVITY"><i
                                class="fa fa-bar-chart"></i> Task Management
                        </button>
                        <button class="btn btn-default" ng-click="changeTab('ganttChart')"
                                ng-class="{'selected': selectedTab==='ganttChart'}"><i class="fa fa-align-left" permission="VIEW_GANTT_CHART"></i>
                            Gantt Chart
                        </button>
                    </h1>
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md p-r-none activity-task-management" ng-if="selectedTab==='taskManagement'">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-3" ng-include="'onTime/activity/templates/activity.html'"></div>
                <!--<div class="col-xs-12 col-md-9 task-container" ng-include="'onTime/task/templates/task.html'" ng-if="activitySelected && !onAddActivity && !onEditActivity"></div>
                <div class="col-xs-12 col-md-9 task-container" ng-include="'onTime/activity/templates/create.html'" ng-if="onAddActivity"></div>
                <div class="col-xs-12 col-md-9 task-container" ng-include="'onTime/activity/templates/edit.html'" ng-if="onEditActivity"></div>-->
                <div class="col-xs-12 col-md-12 col-lg-9 task-container">
                    <div ng-switch on="activityAction">
                        <div ng-switch-when="addActivity">
                            <div ng-include="'onTime/activity/templates/create.html'"></div>
                        </div>
                        <div ng-switch-when="editActivity">
                            <div ng-include="'onTime/activity/templates/edit.html'"></div>
                        </div>
                        <div ng-switch-when="selectActivity">
                            <div ng-include="'onTime/task/templates/task.html'" ng-if="activitySelected"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" permission="VIEW_GANTT_CHART">
                <div class="col-xs-12" ng-include="'onTime/customGanttChart/templates/customGanttChart.html'"></div>
            </div>
        </div>
        <div class="wrapper-md p-r-none activity-task-management" ng-if="selectedTab==='ganttChart'">
            <div ng-include="'onTime/ganttChart/templates/ganttChart.html'"></div>
        </div>
    </div>
</div>
