<div class="on-time-page">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">
                        <button class="btn btn-default" ng-click="changeTab('taskManagement')"
                                ng-class="{'selected': selectedTab==='taskManagement'}"><i
                                class="fa fa-bar-chart"></i> Task Management
                        </button>
                        <button class="btn btn-default" ng-click="changeTab('ganttChart')"
                                ng-class="{'selected': selectedTab==='ganttChart'}"><i class="fa fa-align-left"></i>
                            Gantt Chart
                        </button>
                    </h1>
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md p-r-none" ng-if="selectedTab==='taskManagement'" ng-include="'onTime/activity/templates/activity.html'">
        </div>
    </div>
</div>
