.budget-task {
  table {
    th {
      padding: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    td {
      padding: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}