<div class="on-site-page">
    <div class="hbox hbox-auto-xs hbox-auto-sm header-title">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="m-n font-thin h3 text-black" permission="ONSITE_VIEW" ng-if="onAction == 'onSite'">
                        onSITE
                        <button class="btn btn-default pull-right" ng-click="backToList()"><i
                                class="fa fa-arrow-left"></i> Back to list
                        </button>
                    </h1>
                    <h1 class="m-n font-thin h3 text-black" permission="ONSITE_VIEW" ng-if="onAction == 'onTime'">
                        onTIME
                        <button class="btn btn-default pull-right" ng-click="backToAttachments()"><i
                                class="fa fa-arrow-left"></i> Back to list
                        </button>
                    </h1>
                </div>
            </div>
        </div>
        <div class="wrapper-md p-r-none" permission="ONSITE_VIEW">
            <div class="row">
                <div class="col-xs-12 preview-section"
                     ng-class="{'col-md-8 p-r-0': onAction == 'onSite', 'col-md-12': onAction == 'onTime'}">
                    <div class="panel panel-default">
                        <form name="_form" novalidate ng-submit="saveChanges(selectedDoc)">
                            <div class="panel-heading">
                                <span ng-bind="selectedDoc.name | fileName"></span>
                                <button class="btn btn-primary btn-xs pull-right" type="button" ng-click="cancelEdit()"
                                        ng-disabled="_form.$submitted"
                                        ng-show="showDocPreview">Cancel
                                </button>
                                <button class="btn btn-primary btn-xs pull-right" type="button"
                                        ng-click="editDoc(selectedDoc)" ng-if="onAction == 'onSite'"
                                        ng-show="!showDocPreview">Markup/Tag
                                </button>
                                <button class="btn btn-info btn-xs pull-right m-r-xs" ng-if="onAction == 'onSite'"
                                        ng-show="showDocPreview"
                                        type="submit" size="xs"
                                        ng-disabled="_form.$submitted"
                                        loading-button="_form.$submitted">Save changes
                                </button>
                                <button class="btn btn-info btn-xs pull-right m-r-xs" ng-if="onAction == 'onSite'"
                                        type="button"
                                        ng-show="showDocPreview && pdfImagePages.length > 1"
                                        ng-click="nextPage()"
                                        ng-disabled="!haveNextPage">Next >
                                </button>
                                <span class="page-info" ng-show="showDocPreview && pdfImagePages.length > 1">Page {{currentPageIndex + 1}} of {{pdfImagePages.length}}</span>
                                <button class="btn btn-info btn-xs pull-right m-r-xs" ng-if="onAction == 'onSite'"
                                        type="button"
                                        ng-show="showDocPreview && pdfImagePages.length > 1"
                                        ng-click="prevPage()"
                                        ng-disabled="!havePrevPage">< Previous
                                </button>
                            </div>
                            <div class="panel-body" ng-if="showDocPreview && onAction == 'onSite'">
                                <pdf-tagging-mark-up ng-if="!isNexting"
                                                     model="currentPage"
                                                     page-number="{{currentPageIndex + 1}}"
                                                     parent-doc="parentDocument"
                                                     max-native-zoom="currentPage.maxZoom"
                                                     selected-doc="selectedDoc"></pdf-tagging-mark-up>
                            </div>
                            <div class="panel-body normal-preview" ng-if="!showDocPreview">
                                <pdf-viewer src="{{trustSrc(selectedDoc.fullFilePath)}}" ng-if="isPdf"></pdf-viewer>
                                <img ng-if="isImage" ng-src="{{selectedDoc.fullFilePath}}"/>

                                <p ng-if="!isImage && !isPdf">Sorry, this kind of file not supporte preview.</p>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 p-l-0 comment-section" permission="ONSITE_VIEW_COMMENT"
                     ng-if="onAction == 'onSite'">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span>Comments</span>
                            <!--<div class="pull-right" ng-if="selectedDoc.versionProjectFiles.length > 0">-->
                            <div class="pull-right">

                                <section class="project-chooser" dropdown on-toggle="toggled(open)">
                                    <a href dropdown-toggle>
                                        <span class="project-name">Version {{currentVersion.versionNo}}</span>
                                        &nbsp;<i class="fa fa-sort"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li ng-class="{'selected': currentVersion.versionNo === 'Original'}">
                                            <a href ng-click="selectVersion(null)">Original</a>
                                        </li>
                                        <li ng-repeat="v in versions"
                                            ng-class="{'selected': currentVersion.versionNo === v.versionNo}">
                                            <a href ng-bind="'Version ' + v.versionNo" ng-click="selectVersion(v)"></a>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                        <div class="panel-body" custom-scroll>
                            <div class="text-center" ng-if="isLoadingComment">
                                <spinner text="Loading comments..."></spinner>
                            </div>
                            <div class="text-center" ng-if="!isLoadingComment && !comments.length">
                                No comments
                            </div>
                            <ul class="list-group no-bg no-borders pull-in">
                                <li class="list-group-item" ng-repeat="com in comments track by $index">
                                    <a href="javascript:void(0)" class="pull-left thumb-sm avatar m-r">
                                        <img path="{{com.commenterContact.userImagePath}}" file-path alt="..."
                                             class="img-circle">
                                    </a>

                                    <div class="clear comment-content">
                                        <div class="commenter"><a href="javascript:void(0)"
                                                                  ng-bind="com.commenterContact.firstName+' '+com.commenterContact.lastName"></a>
                                            said:
                                        </div>
                                        <div class="date" ng-bind="com.commentedDate | date:app.dateFormat"></div>
                                        <small class="text-muted"
                                               ng-bind-html="com.comment | escapeHtml | newLines"></small>
                                    </div>
                                </li>
                            </ul>
                            <div class="add-comment" ng-show="!isLoadingComment" permission="ONSITE_ADD_COMMENT">
                                <form name="add_comment_frm" novalidate
                                      ng-submit="addComment(addCommentModel, add_comment_frm)">
                                    <div class="textarea">
                                        <textarea ng-model="addCommentModel.comment" auto-grow=""
                                                  placeholder="Add a comment or reply here" rows="1"
                                                  required></textarea>
                                    </div>
                                    <div class="button">
                                        <button class="btn btn-primary" type="submit"
                                                ng-disabled="add_comment_frm.$invalid || add_comment_frm.$submitted"
                                                loading-button="add_comment_frm.$submitted" size="c">
                                            Send <i class="fa fa-paper-plan-o"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>