<div class="edit-profile-page">
  <div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="m-n font-thin h3 text-black">Change Password</h1>
        </div>
      </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md p-r-none">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <form role="form" class="form-horizontal form-validation" ng-submit="changePassword()" name="form" no-validate>
                <div class="form-group">
                  <label class="col-xs-2 control-label">Current password <span class="label-required" ng-show="form.currentPassword.$error.required">*</span></label>
                  <div class="col-xs-10">
                    <input ng-model="currentPassword" type="password" class="form-control" placeholder="Enter current password" required name="currentPassword" />
                    <span class="text-danger help-block m-b-none" ng-show="form.currentPassword.$dirty && form.currentPassword.$error.required">Please provide Current password</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-2 control-label">New password <span class="label-required" ng-show="form.newPassword.$error.required">*</span></label>
                  <div class="col-xs-10">
                    <input ng-model="newPassword" type="password" class="form-control" placeholder="Enter new password" required name="newPassword" />
                    <span class="text-danger help-block m-b-none" ng-show="form.newPassword.$dirty && form.newPassword.$error.required">Please provide New password</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-2 control-label">Confirm new password <span class="label-required" ng-show="form.confirmNewPassword.$error.required">*</span></label>
                  <div class="col-xs-10">
                    <input ng-model="confirmNewPassword" type="password" class="form-control" placeholder="Enter confirm new password" required name="confirmNewPassword" compare-to="newPassword" />
                    <span class="text-danger help-block m-b-none" ng-show="form.confirmNewPassword.$dirty && form.confirmNewPassword.$error.compareTo">New password and confirm new password do not match</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-2 control-label"></label>
                  <div class="col-xs-10">
                    <button type="submit" class="btn btn-sm btn-primary" ng-disabled="form.$invalid || form.$submitted">Change</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



