.project-chooser {
  .dropdown-menu {
    max-width: 300px;
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: scroll;
    li {
      &.selected {
        a {
          background: @brand-primary;
          color: #fff;
        }
      }
      a {
        white-space: normal;
        &:hover {
          background: @brand-primary !important;
          color: #fff;
        }
      }
    }
  }
}