<div class="on-bim-page">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">
                        3D
                        <a class="btn btn-default pull-right" ng-click="backToList()" ui-sref="app.bimProject.listProject" ng-if="_state.current.name != 'app.bimProject.listProject'">
                            <i class="fa fa-arrow-left"></i> Back to list
                        </a>
                    </h1>
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div ui-view></div>
    </div>
</div>
