<div class="onbim-project-list">
    <div class="wrapper-md p-r-none">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="btn btn-info" ui-sref="app.bimProject.addProject"><i class="fa fa-plus-circle"></i> Add Project</a>
            </div>
            <div class="panel-body">
                <div class="row" ng-if="!onLoading && !projectList.length">
                    <div class="col-xs-12">
                        <alert type="info" class="text-center">No projects</alert>
                    </div>
                </div>
                <div class="row" ng-if="onLoading">
                    <div class="col-xs-12 text-center">
                        <spinner text="Loading..."></spinner>
                    </div>
                </div>
                <div class="row" ng-hide="onLoading">
                    <div ng-repeat="project in projectList" class="col-xs-1 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="project-image" align="center">
                                    <a href="javascript:void(0)" ng-click="projectDetail(project)">
                                        <img file-path="project" path="{{project.bimThumbnailPath}}"
                                             class="img-responsive"/>
                                    </a>
                                </div>
                                <div class="project-info">
                                    <div class="project-name">{{project.bim.name}}</div>
                                    <div align="center" class="option">
                                        <ul class="list-inline list-justified">
                                            <li class="text-left">
                                                <a href="javascript:void(0)" permission="EDIT_PROJECT"
                                                                     ng-click="editProject(project)"><i
                                                    class="fa fa-pencil-square-o"></i>
                                                Edit</a>
                                            </li>
                                            <li class="text-center">
                                                <a href="javascript:void(0)" permission="DELETE_PROJECT"
                                                                       ng-click="deleteProject(project)"><i
                                                    class="fa fa-trash-o"></i>
                                                Delete</a></li>
                                        </ul>
                                    </div>
                                    <div class="project-description">
                                        <p>{{project.bim.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>