<div class="onbim-project-list">
    <div class="wrapper-md p-r-none">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="btn btn-default" ui-sref="app.bimProject.addProject">Add Project</a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div ng-repeat="project in bimProjects" class="col-xs-1 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="project-image" align="center">
                                    <a href="javascript:void(0)" ng-click="projectDetail(project)">
                                        <img file-path="project" path="{{project.projectImagePath}}"
                                             class="img-responsive"/>
                                    </a>
                                </div>
                                <div class="project-info">
                                    <div class="project-name">{{project.name}}</div>
                                    <div class="project-description">
                                        <p>{{project.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="projects">
                        <div class="well well-sm noprojects">There are no projects yet, click on Project | New project to create a new project</div>
                        <table class="projectsTable table table-hover initialhide">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Sub Projects</th>
                                <th>Revisions</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>