<div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" placeholder="Title" required ng-model="task.title"
           name="title"/>
    <ng-messages ng-if="task_form.title.$dirty"
                 for="task_form.title.$error">
        <span class="help-block m-b-none text-danger" ng-message when="required">Title is missing.</span>
    </ng-messages>
</div>
<div class="form-group">
    <label>Description</label>
    <textarea type="text" class="form-control" placeholder="Description" required ng-model="task.description"
              name="description"/>
    <ng-messages ng-if="task_form.description.$dirty"
                 for="task_form.description.$error">
        <span class="help-block m-b-none text-danger" ng-message when="required">Description is missing.</span>
    </ng-messages>
</div>
<div class="form-group">
    <label>Status</label>
    <select class="form-control" name="status" ng-model="task.status"
            ng-options="status.id as status.name for status in taskStatuses" required>
        <option value="">-- Select --</option>
    </select>
    <ng-messages ng-if="task_form.status.$dirty"
                 for="task_form.status.$error">
        <span class="help-block m-b-none text-danger" ng-message when="required">Status is missing.</span>
    </ng-messages>
</div>
<div class="form-group">
    <label>Severity</label>
    <select class="form-control" name="severity" ng-model="task.severity"
            ng-options="severity.id as severity.name for severity in taskSeverities" required>
        <option value="">-- Select --</option>
    </select>
    <ng-messages ng-if="task_form.severity.$dirty"
                 for="task_form.severity.$error">
        <span class="help-block m-b-none text-danger" ng-message when="required">Severity is missing.</span>
    </ng-messages>
</div>
<div class="form-group">
    <label>Start date</label>
    <p class="input-group">
        <input type="text" class="form-control" placeholder="Start date" required ng-model="task.startDate"
               datepicker-popup="MM/dd/yyyy" is-open="startDate.isOpen" max-date="maxDate" min-date="minDate2" init-date="initStartDate"
               datepicker-options="startDate.options"
               datepicker-append-to-body="true"
               name="startDate" ng-click="startDate.isOpen = !startDate.isOpen"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="startDate.open($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
    </p>
    <ng-messages ng-if="task_form.startDate.$dirty"
                 for="task_form.startDate.$error">
        <span class="help-block m-b-none text-danger" ng-message when="required">Please provide task start date</span>
    </ng-messages>
</div>
<div class="form-group">
    <label>End date</label>
    <p class="input-group">
        <input type="text" class="form-control" placeholder="End date" required ng-model="task.endDate"
               ng-click="endDate.isOpen = !endDate.isOpen"
               datepicker-popup="MM/dd/yyyy" is-open="endDate.isOpen" min-date="minDate" max-date="maxDate2" init-date="initEndDate"
               datepicker-options="endDate.options"
               datepicker-append-to-body="true"
               name="endDate"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="endDate.open($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
    </p>
    <ng-messages ng-if="task_form.endDate.$dirty"
                 for="task_form.endDate.$error">
        <span class="help-block m-b-none text-danger" ng-message when="required">Please provide task end date</span>
    </ng-messages>

</div>
<div class="form-group" ng-if="!editTask">
    <label>Task Assignee</label>
    <ui-select append-to-body="true" multiple tagging ng-model="task.selectedAssignees" theme="bootstrap" require-multiple name="assignees">
        <ui-select-match placeholder="Select assignees">{{$item.contact.firstName}} {{$item.contact.lastName}}</ui-select-match>
        <ui-select-choices repeat="ct in contacts">
            {{ct.contact.firstName}} {{ct.contact.lastName}}
        </ui-select-choices>
    </ui-select>
    <ng-messages ng-if="task_form.assignees.$dirty"
                 for="task_form.assignees.$error">
        <span class="help-block m-b-none text-danger" ng-message when="required">Assignees is missing.</span>
    </ng-messages>
</div>