<div ng-controller="BudgetTaskController" class="budget-task">
    <div class="text-center" ng-show="isLoading">
        <spinner text="Loading..."></spinner>
    </div>
    <div ng-show="task.costsByMonthYear">
        <table class="table .table-striped" ng-if="isEdit">
            <thead>
            <tr>
                <th></th>
                <th class="table-head">Planned</th>
                <th class="table-head">Actuals</th>
            </tr>
            </thead>
            <tbody class="table-bordered">
            <tr ng-repeat="budget in task.costsByMonthYear | orderBy: ['taskInterval.year', 'taskInterval.month']">
                <td class="interval"><span ng-bind="budget.taskInterval.month | monthName"></span>-<span ng-bind="budget.taskInterval.year"></span></td>
                <td class="budget-cost" ng-repeat="cost in budget.costs | filter: {costType:'PLANNED'} | limitTo:1">
                    <budget-editor model="cost" task="task" type="PLANNED" interval="budget.taskInterval"></budget-editor>
                </td>
                <td class="budget-cost" ng-repeat="cost in budget.costs | filter: {costType:'ACTUAL'} | limitTo:1">
                    <budget-editor model="cost" task="task" type="ACTUAL" interval="budget.taskInterval"></budget-editor>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="table .table-striped" ng-if="!isEdit">
            <thead>
            <tr>
                <th></th>
                <th class="table-head">Planned</th>
                <th class="table-head">Actuals</th>
            </tr>
            </thead>
            <tbody class="table-bordered">
            <tr ng-repeat="budget in task.costsByMonthYear | orderBy: ['taskInterval.year', 'taskInterval.month']" ng-if="!isEdit">
                <td class="interval"><span ng-bind="budget.taskInterval.month | monthName"></span>-<span ng-bind="budget.taskInterval.year"></span></td>
                <td class="budget-cost-read" ng-repeat="cost in budget.costs | filter: {costType:'PLANNED'} | limitTo:1">
                    {{cost.cost | currency: '$' : 0 | number}}
                </td>
                <td class="budget-cost-read" ng-repeat="cost in budget.costs | filter: {costType:'ACTUAL'} | limitTo:1">
                    {{cost.cost | currency: '$' : 0 | number}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>