<div ng-controller="BudgetTaskController" class="budget-task">
    <div class="text-center" ng-show="isLoading">
        <spinner text="Loading..."></spinner>
    </div>
    <div ng-show="task.costsByMonthYear">
        <table class="table table-bordered">
            <th></th>
            <th>ACTUAL COST</th>
            <th>PLANNED COST</th>
            <tr ng-repeat="budget in task.costsByMonthYear">
                <td>{{budget.taskInterval.month}}-{{budget.taskInterval.year}}</td>
                <td><input type="text" ng-model="budget.costs[0].cost"/></td>
                <td><input type="text" ng-model="budget.costs[1].cost"/></td>
            </tr>
        </table>
        <button class="btn btn-primary" ng-disabled="isSubmitting" ng-click="updateTaskBudget()">Save</button>
    </div>
</div>