<div ng-controller="CommentTaskController">
    <div class="item-list" custom-scroll>
        <div class="item" ng-repeat="comment in comments">
            <div class="avatar">

            </div>
            <div class="content">
                <span>{{comment.commenterContact.firstName}}&nbsp;{{comment.commenterContact.lastName}}</span>&nbsp;<span>said:</span>
                <span am-time-ago="comment.commentedDate"></span>

                <p>{{comment.comment}}</p>
            </div>
        </div>
    </div>
    <div class="comment-box">

        <form name="comment_form" novalidate>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Add a commnet or reply here"
                       ng-model="comment" name="comment" required>
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-disable="comment_form.$invalid"
                        ng-click="addComment()">Send
                </button>
              </span>

            </div>
        </form>
    </div>
</div>