<div ng-controller="CreateTaskController">
    <form name="task_form" no-validate class="form-validation" ng-submit="save()">
        <div class="add-edit-task panel-body" custom-scroll id="task-create-panel" fix-height="112">
            <!--<div ng-include="'onTime/task/templates/_createOrUpdate.html'"></div>-->
            <add-task task="task"></add-task>
        </div>
        <div class="panel-footer bg-light lter">
            <button class="btn btn-xs btn-primary" type="submit"
                    ng-disabled="task_form.$invalid || task_form.$submitted || onSubmit"
                    loading-button="task_form.$submitted" size="xs">Done
            </button>
            <button class="btn btn-xs btn-default" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>