<div ng-controller="CreateTaskController">
    <div class="add-edit-task panel-body" custom-scroll id="task-create-panel">
        <form name="task_form" no-validate class="form-validation">
            <div ng-include="'onTime/task/templates/_createOrUpdate.html'"></div>
        </form>
    </div>
    <div class="panel-footer bg-light lter">
        <button class="btn btn-xs btn-primary" ng-disabled="task_form.$invalid || task_form.$submitted || onSubmit"
                ng-click="save()">Done
        </button>
        <button class="btn btn-xs btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>