<div ng-controller="EditTaskController">
    <div class="add-project">
        <form name="task_form" novalidate class="form-horizontal form-validation">
            <div ng-include="'onTime/task/templates/_createOrUpdate.html'"></div>
        </form>
    </div>
    <div class="footer">
        <button class="btn btn-primary" ng-click="save()"
                ng-disabled="task_form.$invalid || task_form.$submitted || onSubmit">Done
        </button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>