<div ng-controller="EditTaskController">
    <form name="task_form" no-validate class="form-validation" ng-submit="save()">
        <div class="add-edit-task panel-body" custom-scroll id="task-edit-panel">
            <!--<div ng-include="'onTime/task/templates/_createOrUpdate.html'"></div>-->
            <add-task task="task" edit="true"></add-task>
        </div>
        <div class="panel-footer bg-light lter">
            <button class="btn btn-xs btn-primary" type="submit"
                    loading-button="task_form.$submitted" size="xs"
                    ng-disabled="task_form.$error['required'] !== undefined || task_form.$submitted || onSubmit">Done
            </button>
            <button class="btn btn-xs btn-default" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>