<div class="info-container" ng-controller="InfoTaskController">
    <div class="info-element">
        <div class="head">Title:</div>
        <div class="content">{{task.title}}</div>
    </div>
    <div class="info-element">
        <div class="head">Description:</div>
        <div class="content">{{task.description}}</div>
    </div>
    <div class="info-element">
        <div class="head">Company:</div>
        <div class="content">{{task.title}}</div>
    </div>
    <div class="info-element">
        <div class="head">Type:</div>
        <div class="content">{{task.title}}</div>
    </div>
    <div class="info-element">
        <div class="head">Status:</div>
        <div class="content">{{task.status}}</div>
    </div>
    <div class="info-element">
        <div class="head">Date:</div>
        <div class="content"><span>{{task.startDate|date:'MM/dd/yyyy'}}</span> to <span>{{task.endDate|date:'MM/dd/yyyy'}}</span></div>
    </div>
    <div class="info-element">
        <div class="head">Address:</div>
        <div class="content">{{task.title}}</div>
    </div>
</div>