<div ng-controller="InfoTaskController">
    <div class="add-edit-task panel-body" custom-scroll id="task-info-panel">
        <task-info task="task"></task-info>
    </div>
    <div class="panel-footer bg-light lter">
        <button class="btn btn-xs btn-info" ng-click="editTaskInformation()" permission="EDIT_TASK">Edit Task Infomation</button>
        <button class="btn btn-xs btn-info" ng-click="editTaskLogistics()">Edit Task Logistics</button>
        <button class="btn btn-xs btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>