<div ng-controller="LogisticsTaskController">
    <div>
    <ul>
        <li><a ng-click="openAction(actions.owner)">Owner</a></li>
        <li><a ng-click="openAction(actions.comment)">Comment</a></li>
        <li><a ng-click="openAction(actions.budget)">Budget</a></li>
        <li><a ng-click="openAction(actions.progress)">Progress</a></li>
        <li><a ng-click="openAction(actions.attachment)">Attachments</a></li>
    </ul>
    </div>
    <div ng-switch on="action.name">
        <div ng-switch-when="owner"><div ng-include="'onTime/task/templates/owner.html'"></div></div>
        <div ng-switch-when="comment"><div ng-include="'onTime/task/templates/comment.html'"></div></div>
        <div ng-switch-when="budget"><div ng-include="'onTime/task/templates/budget.html'"></div></div>
        <div ng-switch-when="progress"><div ng-include="'onTime/task/templates/progress.html'"></div></div>
        <div ng-switch-when="attachment"><div ng-include="'onTime/task/templates/attachment.html'"></div></div>
        <div ng-switch-default><div ng-include="'onTime/task/templates/owner.html'"></div></div>
    </div>
</div>