<div ng-controller="OwnerTaskController">
    <div ng-repeat="assignee in assignees">
        <span><i class="fa fa-user"></i>&nbsp;{{assignee.firstName}}&nbsp;{{assignee.lastName}}</span>
        <button class="btn" ng-click="removeUserFromTask(assignee)"><i class="fa fa-minus"></i> Remove
        </button>
    </div>
    <div ng-show="onAddOwner">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" ng-model="assignee" typeahead="contact as contact.firstName+' '+contact.lastName for contact in contacts | filter:$viewValue | limitTo:8" class="form-control" placeholder="Enter Owner Name">
            </div>
            <button class="btn btn-default" ng-click="assignUserToTask()"><i class="fa fa-plus"></i> Add</button>
            <button class="btn btn-default" ng-click="onAddOwner = false"><i class="fa fa-minus"></i> Cancel</button>
        </form>
    </div>
    <button class="btn btn-primary" ng-show="!onAddOwner" ng-click="addOwner()"><i class="fa fa-plus"></i> Add Owner</button>
</div>