<div class="row" ng-controller="TaskController">
    <div class="col-xs-12 task-list-section" ng-class="{'col-md-7': taskSelected, 'col-md-12': !taskSelected}">
        <div class="task-section">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="search">
                        <div class="input-group m-b">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                          </button>
                        </span>
                            <input type="text" class="form-control" ng-model="search.title" placeholder="Search Tasks"/>
                        </div>
                    </div>
                    <div class="task-list" custom-scroll id="task-list">
                        <div class="task-loading text-center" ng-if="isLoadingTasks">
                            <spinner text="Loading..."></spinner>
                        </div>
                        <div class="task-item" ng-repeat="task in tasks | filter:search:title" ng-class="{'task-selected-item': task.projectTaskId == taskSelected.projectTaskId }"
                             ng-click="selectTask(task)">
                            <div class="task-status">
                                <div class="percentage">{{task.percentageComplete}}%</div>
                                            <span
                                                    round-progress
                                                    max="100"
                                                    current="task.percentageComplete"
                                                    color="#{{task.percentageComplete | taskStatusColor}}"
                                                    bgcolor="#ececec"
                                                    radius="25"
                                                    stroke="5"
                                                    semi="false"
                                                    rounded="false"
                                                    clockwise="true"
                                                    responsive="false"
                                                    iterations="10"
                                                    animation="easeInOutQuart">
                                            </span>
                            </div>
                            <div class="task-info">
                                <div class="title">{{task.title}}</div>
                                <div class="assignee">Assigned to: <span ng-repeat="as in task.assignee">{{as.contact.firstName}}&nbsp;{{as.contact.lastName}}{{$last?'':', '}}</span>
                                </div>
                                <div class="priority"><span class="task-severity-{{task.severity}}" ng-bind="task.severity|taskSeverity"></span>
                                    priority
                                </div>
                            </div>
                            <div class="task-statistic">
                                <div class="date text-muted"><span ng-bind="task.startDate | date:app.dateFormat"></span> - <span ng-bind="task.endDate | date:app.dateFormat"></span></div>
                                <div class="statistic">
                                    <div class="stat-icon text-muted"><i class="fa fa-user"></i></div>
                                    <div class="stat-icon text-muted"><i class="fa fa-comment"></i></div>
                                    <div class="stat-icon text-muted"><i class="fa fa-dollar"></i></div>
                                    <div class="stat-icon text-muted"><i class="fa fa-bar-chart"></i></div>
                                    <div class="stat-icon text-muted"><i class="fa fa-upload"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="no-result text-center" ng-if="!tasks.length && !isLoadingTasks">
                            No tasks was found
                        </div>
                    </div>
                </div>
                <div class="panel-footer bg-light lter" id="task-panel-footer">
                    <button class="btn btn-xs btn-primary" ng-click="addTask()"><!--<i class="fa fa-plus"></i> -->Add Task
                    </button>
                    <button class="btn btn-xs btn-danger" ng-click="openDeleteTaskModal()" ng-if="taskSelected"><!--<i class="fa fa-times"></i> -->Delete Task
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-5 task-create-update-section" ng-if="taskSelected">
        <div class="panel-right">
            <div class="panel panel-default">
                <div class="panel-heading bg-light lter">
                    <span class="text">{{action.text}}</span>
                </div>
                <div class="panel-body">
                    <div ng-switch on="action.name">
                        <div ng-switch-when="addTask"><div ng-include="'onTime/task/templates/create.html'"></div></div>
                        <div ng-switch-when="editTask"><div ng-include="'onTime/task/templates/edit.html'"></div></div>
                        <div ng-switch-when="infoTask"><div ng-include="'onTime/task/templates/info.html'"></div></div>
                        <div ng-switch-when="logisticTask"><div ng-include="'onTime/task/templates/logistics.html'"></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>