<div class="edit-profile-page">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">Edit Profile
                        <a class="btn btn-default pull-right" permission="VIEW_PROJECT" href="#/app/projectlist"><i
                                class="fa fa-arrow-left"></i> Back to projects list
                        </a>
                    </h1>
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md p-r-none">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-2 avatar-container">
                            <a ngf-select ng-model="file" ngf-multiple="false">
                                <div class="overlay image-circle">
                                    <p>Change picture</p>
                                </div>
                                <img file-path class="image-circle" path="{{editUserData.userImagePath}}"/>
                            </a>
                            <div loading-bar="{{percentage}}" class="ng-hide loading-bar m-t-sm" ng-show="isUploadAvatar"></div>
                        </div>
                        <div class="col-xs-9">
                            <form class="bs-example form-horizontal form-validation" name="form"
                                  ng-submit="submitUserProfile(editUserData)" novalidate autocomplete="false">
                                <div class="form-group">
                                    <label class="col-xs-2 control-label">Title <span class="label-required" ng-show="form.title.$error.required">*</span></label>
                                    <div class="col-xs-10">
                                        <input type="text" class="form-control" name="title" placeholder="Title" ng-model="editUserData.title" required="">
                                        <span class="text-danger help-block m-b-none" ng-show="form.title.$error.required">Please provide Title</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-2 control-label">First Name <span class="label-required" ng-show="form.firstName.$error.required">*</span></label>
                                    <div class="col-xs-10">
                                        <input type="text" class="form-control" name="firstName" placeholder="First Name" ng-model="editUserData.firstName" required="">
                                        <span class="text-danger help-block m-b-none" ng-show="form.firstName.$error.required">Please provide First Name</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-2 control-label">Last Name <span class="label-required" ng-show="form.lastName.$error.required">*</span></label>
                                    <div class="col-xs-10">
                                        <input type="text" class="form-control" name="lastName" placeholder="Last Name" ng-model="editUserData.lastName" required="">
                                        <span class="text-danger help-block m-b-none" ng-show="form.lastName.$error.required">Please provide Last Name</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-2 control-label">Email <span class="label-required" ng-show="form.email.$error.required">*</span></label>
                                    <div class="col-xs-10">
                                        <input type="email" class="form-control" placeholder="Email" name="email" ng-model="editUserData.email" required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                                        <span class="text-danger help-block m-b-none" ng-show="form.email.$error.required">Please provide Email</span>
                                        <span class="text-danger help-block m-b-none" ng-show="form.email.$error.email">Email is invalid</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-2 control-label">Phone Number <span class="label-required" ng-show="form.phoneNumber.$error.required">*</span></label>
                                    <div class="col-xs-10">
                                        <input name="phoneNumber" type="text" id="phoneNumber" ng-model="editUserData.phoneNumber"
                                               class="form-control" ui-mask="{{'(999)-999-9999'}}"
                                               placeholder="Phone number" ui-mask-placeholder required="">
                                        <span class="text-danger help-block m-b-none" ng-show="form.phoneNumber.$error.required">Please provide Phone Number</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-offset-2 col-xs-10">
                                        <button type="submit" class="btn btn-sm btn-primary" loading-button="form.$submitted" ng-disabled="form.$invalid || form.$submitted">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


