<div class="input-group">
       <input type="text" name="{{name}}" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]" placeholder="mm/dd/yyyy"
              class="input-filter form-control"
              datepicker-popup="MM/dd/yyyy"
              is-open="onSite.approval.dueDate.isOpen"/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="onSite.approval.dueDate.isOpen = !onSite.approval.dueDate.isOpen"><i class="fa fa-calendar"></i></button>
      </span>
</div>