<tabset class="tab-container">
    <tab heading="View Document" ng-click="openAction(actions.viewDocument)">
    </tab>
    <tab heading="Change Order" ng-click="openAction(actions.changeOrder)">
    </tab>
    <tab heading="Request For Information" ng-click="openAction(actions.requestForInformation)" active="true">
        <button class="btn btn-info button-export" ng-click="exportPdf(true)" ng-if="onview||onApprove">Export PDF</button>
        <div class="rfi-section">
            <div class="row">
                <div class="col-md-12">
                    <form name="_form" no-validate class="form-validation" ng-submit="submit(_form)">
                        <div class="panel panel-default">
                            <div class="panel-heading"><b>Please fill out below infomation</b></div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Receiver's Name</label>

                                            <p class="text-field" ng-if="onView||onApprove">{{username}}</p>
                                            <select class="form-control" name="username"
                                                    ng-model="document.keyValues.username"
                                                    ng-options="receiverName.userId as receiverName.name for receiverName in contacts"
                                                    required ng-change="getCompanyOfUser()" ng-if="onEdit">
                                                <option value="">-- Select Receiver's Name --</option>
                                            </select>
                                            <ng-messages ng-if="_form.username.$dirty" for="_form.username.$error">
                                                <span class="help-block m-b-none text-danger" ng-message when="required">This is a required field.</span>
                                            </ng-messages>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Company Name</label>

                                            <p class="text-field" ng-if="onView||onApprove">
                                                {{document.keyValues.company_name}}</p>
                                            <!--<select class="form-control" name="companyName"
                                                    ng-model="document.keyValues.company_name"
                                                    ng-options="company.companyId as company.companyName for company in companies"
                                                    required>
                                                <option value="">&#45;&#45; Select Company Name &#45;&#45;</option>
                                            </select>-->
                                            <input type="text" class="form-control" placeholder="Enter Company Name"
                                                   ng-model="document.keyValues.company_name" name="companyName"
                                                   required readonly ng-if="onEdit"/>
                                            <ng-messages ng-if="_form.companyName.$dirty" for="_form.companyName.$error">
                                                <span class="help-block m-b-none text-danger" ng-message when="required">This is a required field.</span>
                                            </ng-messages>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Attention</label>

                                            <p class="text-field" ng-if="onView||onApprove">{{attentionName}} &nbsp;</p>
                                            <ui-select append-to-body="true" multiple tagging
                                                       ng-model="document.keyValues.attention" theme="bootstrap"
                                                       require-multiple
                                                       name="attention" ng-if="onEdit">
                                                <ui-select-match placeholder="Select Name">{{$item.name}}</ui-select-match>
                                                <ui-select-choices repeat="ct.userId as ct in contactNameList">
                                                    {{ct.name}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <ng-messages ng-if="_form.attention.$dirty" for="_form.attention.$error">
                                                <span class="help-block m-b-none text-danger" ng-message when="required">This is a required field.</span>
                                            </ng-messages>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>RFI#</label>

                                            <p class="text-field" ng-if="onView||onApprove">{{document.keyValues.RFI}}</p>
                                            <input type="text" class="form-control" placeholder="Enter RFI#"
                                                   ng-model="document.keyValues.RFI" name="RFI" required ng-if="onEdit"
                                                    />
                                            <ng-messages ng-if="_form.RFI.$dirty" for="_form.RFI.$error">
                                                <span class="help-block m-b-none text-danger" ng-message when="required">This is a required field.</span>
                                            </ng-messages>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Subject</label>
                                            <span class="pull-right">(Optional)</span>

                                            <p class="text-field" ng-if="onView||onApprove">
                                                {{document.keyValues.subject}}</p>
                                            <input type="text" class="form-control" placeholder="Enter Subject"
                                                   ng-model="document.keyValues.subject" name="subject"
                                                   ng-if="onEdit"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Priority</label>

                                            <p class="text-field" ng-if="onView||onApprove">
                                                {{document.keyValues.priority}}</p>
                                            <select class="form-control" name="priority"
                                                    ng-model="document.keyValues.priority"
                                                    ng-options="priority.id as priority.name for priority in priorities"
                                                    required ng-if="onEdit">
                                                <option value="">-- Select Priority --</option>
                                            </select>
                                            <ng-messages ng-if="_form.priority.$dirty" for="_form.priority.$error">
                                                <span class="help-block m-b-none text-danger" ng-message when="required">This is a required field.</span>
                                            </ng-messages>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Due Date</label>

                                            <p class="text-field" ng-if="onView||onApprove">{{document.dueDate|date:
                                                app.dateFormat}}</p>

                                            <p class="input-group" ng-if="onEdit">
                                                <input type="text" class="form-control" placeholder="Enter/Select Due date"
                                                       required ng-model="document.dueDate" datepicker-popup="MM/dd/yyyy"
                                                       is-open="dueDate.isOpen" datepicker-options="dueDate.options"
                                                       datepicker-append-to-body="true"
                                                       date-range name="dueDate"
                                                       ng-click="dueDate.isOpen = !dueDate.isOpen"/>
                                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="dueDate.open($event)"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                                            </p>
                                            <ng-messages ng-if="_form.dueDate.$dirty" for="_form.dueDate.$error">
                                                <span class="help-block m-b-none text-danger" ng-message when="required">This is a required field.</span>
                                            </ng-messages>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Questions/Concerns</label>
                                            <span class="pull-right">(Optional)</span>

                                            <p class="text-field" ng-if="onView||onApprove">
                                                {{document.keyValues.question_or_concern}}</p>
                                    <textarea type="text" class="form-control" placeholder="Enter Questions/Concerns"
                                              ng-model="document.keyValues.question_or_concern"
                                              name="question_or_concern" ng-if="onEdit"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Suggestion</label>
                                            <span class="pull-right">(Optional)</span>

                                            <p class="text-field" ng-if="onView||onApprove">
                                                {{document.keyValues.suggestion}}</p>
                                    <textarea type="text" class="form-control" placeholder="Enter Suggestion"
                                              ng-model="document.keyValues.suggestion" name="suggestion"
                                              ng-if="onEdit"/>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="row" ng-if="onApprove">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Response</label>
                                            <textarea type="text" class="form-control" placeholder="Enter Response" ng-model="response" name="response" />
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading"><b>Attachments</b></div>
                            <div class="panel-body">
                                <div class="form-group" ng-if="onEdit">
                                    <a class="btn btn-primary" ng-click="openUploadModal('main')"><i
                                            class="fa fa-cloud-upload"></i>
                                        Upload
                                    </a>
                                </div>

                                <div class="on-site-upload-document-modal form-group" attachment-list
                                     attachments="attachments" on-edit="onEdit" on-approve="onApprove" on-view="onView">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="checkbox pull-left">
                                <label class="i-checks">
                                    <input type="checkbox" ng-model="document.keyValues.rfi_is_a_change"
                                           ng-true-value="'YES'" ng-false-value="'NO'" checked
                                           ng-disabled="onView||onApprove">
                                    <i></i> This RFI is a change
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <button ng-disabled="_form.$invalid || _form.$submitted || onSubmit" loading-button="onSubmit"
                                    class="btn btn-primary pull-right"
                                    type="submit" ng-if="onEdit">Submit
                            </button>
                        </div>
                    </form>

                    <div class="panel panel-default" style="clear: both">
                        <div class="panel-heading"><b>Comments</b></div>
                        <div class="panel-body">
                            <div ng-if="onEdit || onApprove" class="pull-none" style="clear:both;">
                                <div class="form-group" ng-if="responses.length > 0">
                                    <span class="form-title">Response</span>
                                </div>
                                <div class="response-container" ng-repeat="response in responses">
                                    <div class="form-group">
                                        <p ng-bind-html="response.response | escapeHtml | newLines"></p>
                                    </div>
                                    <p class="submited-by">Submitted by {{response.responsedBy.contact.firstName}}
                                        {{response.responsedBy.contact.lastName}}
                                        at {{response.responsedDate| date: 'short'}}</p>
                                </div>
                                <hr ng-if="responses.length > 0 && onApprove">

                                <div class="response-container">
                                    <form name="_response_form" novalidate class="form-validation"
                                          ng-submit="addResponse(_response_form)">
                                        <!--<div class="form-group">-->
                                        <!--<label>Title</label>-->
                                        <!--<input type="text" class="form-control" placeholder="Enter Title"-->
                                        <!--ng-model="newResponse.title" required name="title"/>-->
                                        <!--<ng-messages ng-if="_response_form.title.$dirty"-->
                                        <!--for="_response_form.title.$error">-->
                                        <!--<span class="help-block m-b-none text-danger" ng-message when="required">This is a required field.</span>-->
                                        <!--</ng-messages>-->
                                        <!--</div>-->
                                        <div class="form-group">
                                            <label>Reply</label>
                                    <textarea type="text" class="form-control" placeholder="Enter Response"
                                              ng-model="newResponse.response" required name="response"
                                            />
                                            <ng-messages ng-if="_response_form.response.$dirty"
                                                         for="_response_form.response.$error">
                                                <span class="help-block m-b-none text-danger" ng-message when="required">This is a required field.</span>
                                            </ng-messages>
                                        </div>
                                        <div class="response-container" ng-repeat="response in responses">
                                            <div class="form-group">
                                                <p ng-bind-html="response.response | escapeHtml | newLines"></p>
                                            </div>
                                            <p class="submited-by">Submitted by {{response.responsedBy.contact.firstName}}
                                                {{response.responsedBy.contact.lastName}}
                                                at {{response.responsedDate| date: 'short'}}</p>
                                        </div>
                                        <hr ng-if="responses.length > 0 && onApprove">

                                        <div class="response-container" ng-if="onApprove">
                                            <form name="_response_form" novalidate class="form-validation"
                                                  ng-submit="addResponse(_response_form)">
                                                <!--<div class="form-group">-->
                                                <!--<label>Title</label>-->
                                                <!--<input type="text" class="form-control" placeholder="Enter Title"-->
                                                <!--ng-model="newResponse.title" required name="title"/>-->
                                                <!--<ng-messages ng-if="_response_form.title.$dirty"-->
                                                <!--for="_response_form.title.$error">-->
                                                <!--<span class="help-block m-b-none text-danger" ng-message when="required">This is a required field.</span>-->
                                                <!--</ng-messages>-->
                                                <!--</div>-->
                                                <div class="form-group">
                                                    <label>Reply</label>
                                    <textarea type="text" class="form-control" placeholder="Enter Response"
                                              ng-model="newResponse.response" required name="response"
                                            />
                                                    <ng-messages ng-if="_response_form.response.$dirty"
                                                                 for="_response_form.response.$error">
                                                        <span class="help-block m-b-none text-danger" ng-message
                                                              when="required">This is a required field.</span>
                                                    </ng-messages>
                                                </div>
                                                <div class="form-group">
                                                    <a class="btn btn-primary" ng-click="openUploadModal('response')">Choose
                                                        File</a>
                                                </div>
                                                <div class="on-site-upload-document-modal form-group" attachment-list
                                                     attachments="newResponse.attachments" on-edit="true" on-approve="onApprove" on-view="onView">
                                                </div>
                                                <div class="form-group">
                                                    <button class="btn btn-primary" type="submit"
                                                            ng-disabled="_response_form.$invalid || _response_form.$submitted">
                                                        Submit
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <!--<div class="form-group">
                                            <a class="btn btn-primary pull-right" ng-click="updateStatus('CLOSED')">Close</a>
                                        </div>-->
                                    </form>
                                    <!--Response-->
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="pull-right" ng-if="onApprove">
                            <a ng-disabled="onSubmit" class="btn btn-primary"
                               ng-click="updateStatus('APPROVED')">Approve
                            </a>
                            <a ng-disabled="onSubmit" class="btn btn-danger"
                               ng-click="updateStatus('REJECTED')">Reject
                            </a>
                            <a ng-disabled="onSubmit" class="btn btn-primary" ui-sref="app.onFile">Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="Purchase Order" ng-click="openAction(actions.purchaseOrder)">
    </tab>
    <tab heading="Transmittal" ng-click="openAction(actions.transmittal)">

    </tab>
</tabset>