<div ng-controller="ViewDocumentController">
    <tabset class="tab-container">
        <tab heading="All">
            <table class="table">
                <tr class="table-header">
                    <th>Type</th>
                    <th>Document Name</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>Submitted By</th>
                    <th>Submitted To</th>
                    <!--<th>Action</th>-->
                </tr>
                <tr ng-repeat="doc in all">
                    <td valign="middle" class="file-name">{{doc.documentTemplate.name}}</td>
                    <td valign="middle" class="file-name">{{doc.name}}</td>
                    <td valign="middle" class="file-name">{{doc.dueDate | date: app.dateFormat}}</td>
                    <td valign="middle" class="file-name">{{doc.status}}</td>
                    <td valign="middle" class="file-name">{{doc.creator.contact.firstName}}&nbsp;{{doc.creator.contact.lastName}}</td>
                    <td valign="middle" class="file-name">{{}}</td>
                    <!--<td valign="middle" class="file-name">{{}}</td>-->
                </tr>
            </table>
        </tab>
        <tab heading="Submittals">
            <table class="table">
                <tr>
                    <th>Type</th>
                    <th>Document Name</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>Submitted By</th>
                    <th>Submitted To</th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat="doc in submittals">
                    <td valign="middle" class="file-name">{{doc.documentTemplate.name}}</td>
                    <td valign="middle" class="file-name">{{doc.name}}</td>
                    <td valign="middle" class="file-name">{{doc.dueDate | date: app.dateFormat}}</td>
                    <td valign="middle" class="file-name">{{doc.status}}</td>
                    <td valign="middle" class="file-name">{{doc.creator.contact.firstName}}&nbsp;{{doc.creator.contact.lastName}}</td>
                    <td valign="middle" class="file-name">{{}}</td>
                    <td valign="middle" class="file-name">
                        <a ng-click="viewDocument(doc, 'submittal')">Preview</a>
                    </td>
                </tr>
            </table>
        </tab>
        <tab heading="Approvals">
            <table class="table">
                <tr>
                    <th>Type</th>
                    <th>Document Name</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>Submitted By</th>
                    <th>Submitted To</th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat="doc in approvals">
                    <td valign="middle" class="file-name">{{doc.documentTemplate.name}}</td>
                    <td valign="middle" class="file-name">{{doc.name}}</td>
                    <td valign="middle" class="file-name">{{doc.dueDate}}</td>
                    <td valign="middle" class="file-name">{{doc.status | date: app.dateFormat}}</td>
                    <td valign="middle" class="file-name">{{doc.creator.contact.firstName}}&nbsp;{{doc.creator.contact.lastName}}</td>
                    <td valign="middle" class="file-name">{{}}</td>
                    <td valign="middle" class="file-name"><a ng-click="viewDocument(doc, 'approval')">Preview</a></td>
                </tr>
            </table>
        </tab>
    </tabset>
</div>