<tabset class="tab-container">
    <tab heading="View Document" ng-click="openAction(actions.viewDocument)" active="true">
        <div ng-controller="ViewDocumentController" class="view-document-section">
            <tabset class="tab-container">
                <tab heading="All">
                    <table class="table table-striped table-hover" ng-table-dynamic="onSite.all.tableParams with onSite.all.cols" show-filter="true">
                        <tr ng-repeat="doc in $data" ng-click="previewDocument(doc)">
                            <td valign="middle" class="file-name" ng-bind="::doc.type" style="width: 230px"></td>
                            <td valign="middle" class="file-name" ng-bind="::doc.documentNumber"></td>
                            <td valign="middle" class="file-name" ng-bind="::doc.subject"></td>
                            <td valign="middle" class="file-name" ng-bind="::doc.dueDate | date: app.dateFormat"></td>
                            <td valign="middle" class="file-name" ng-bind="::doc.status"></td>
                            <td valign="middle" class="file-name" ng-bind="::doc.submittedBy"></td>
                            <td valign="middle" class="file-name" ng-bind="::doc.submittedToStr"></td>
                            <td valign="middle" class="file-name">
                                <button class="btn btn-primary btn-xs" ng-click="previewDocument(doc, $event)" ng-if="doc.edit">Edit</button>
                                <button class="btn btn-danger btn-xs" ng-if="doc.edit" ng-click="deleteDoc(doc, $event)">Delete</button>
                                <button class="btn btn-primary btn-xs" ng-click="changeStatus(doc, 'APPROVED', $event, $index)" ng-if="doc.approve && haveApprovePermission">Approve</button>
                                <button class="btn btn-danger btn-xs" ng-click="changeStatus(doc, 'REJECTED', $event, $index)" ng-if="doc.approve && haveRejectPermission">Reject</button>
                            </td>
                        </tr>
                    </table>
                    <div class="row text-center wrapper-sm" ng-if="isLoading">
                        <spinner text="Loading..."></spinner>
                    </div>
                    <div class="row text-center wrapper-sm" ng-if="!isLoading && onSite.all.tableParams.data.length<=0">
                        No document
                    </div>
                </tab>
                <tab heading="Submittals">
                    <table class="table table-striped table-hover" ng-table-dynamic="onSite.submittal.tableParams with onSite.submittal.cols" show-filter="true">
                        <tr ng-repeat="doc in $data" ng-click="previewDocument(doc)">
                            <td valign="middle" class="file-name" ng-bind="::doc.type" style="width: 230px"></td>
                            <td valign="middle" class="file-name" ng-bind="::doc.documentNumber"></td>
                            <td valign="middle" class="file-name" ng-bind="::doc.subject"></td>
                            <td valign="middle" class="file-name" ng-bind="::doc.dueDate | date: app.dateFormat"></td>
                            <td valign="middle" class="file-name" ng-bind="::doc.status"></td>
                            <td valign="middle" class="file-name" ng-bind="::doc.submittedToStr"></td>
                            <td valign="middle" class="file-name">
                                <button class="btn btn-primary btn-xs" ng-click="previewDocument(doc, $event)" ng-if="doc.edit">Edit</button>
                                <button class="btn btn-danger btn-xs" ng-if="doc.edit" ng-click="deleteDoc(doc, $event)">Delete</button>
                            </td>
                        </tr>
                    </table>
                    <div class="row text-center wrapper-sm" ng-if="isLoading">
                        <spinner text="Loading..."></spinner>
                    </div>
                    <div class="row text-center wrapper-sm" ng-if="!isLoading && onSite.submittal.tableParams.data.length<=0">
                        No document
                    </div>
                </tab>
                <tab heading="Approvals">
                    <table class="table table-striped table-hover" ng-table-dynamic="onSite.approval.tableParams with onSite.approval.cols" show-filter="true">
                        <tr ng-repeat="doc in $data" ng-click="previewDocument(doc)">
                            <td valign="middle" class="file-name" ng-bind="::doc.type" style="width: 230px"></td>
                            <td valign="middle" class="file-name" ng-bind="::doc.documentNumber"></td>
                            <td valign="middle" class="file-name" ng-bind="::doc.subject"></td>
                            <td valign="middle" class="file-name" ng-bind="::doc.dueDate | date: app.dateFormat"></td>
                            <td valign="middle" class="file-name" ng-bind="::doc.status"></td>
                            <td valign="middle" class="file-name" ng-bind="::doc.submittedBy"></td>
                            <td valign="middle" class="file-name">
                                <button class="btn btn-primary btn-xs" ng-click="previewDocument(doc, $event)" ng-if="doc.edit">Edit</button>
                                <button class="btn btn-danger btn-xs" ng-if="doc.edit" ng-click="deleteDoc(doc, $event)">Delete</button>
                                <button class="btn btn-primary btn-xs" ng-click="changeStatus(doc, 'APPROVED', $event, $index)" ng-if="doc.approve && haveApprovePermission">Approve</button>
                                <button class="btn btn-danger btn-xs" ng-click="changeStatus(doc, 'REJECTED', $event, $index)" ng-if="doc.approve && haveRejectPermission">Reject</button>
                            </td>
                        </tr>
                    </table>
                    <div class="row text-center wrapper-sm" ng-if="isLoading">
                        <spinner text="Loading..."></spinner>
                    </div>
                    <div class="row text-center wrapper-sm" ng-if="!isLoading && onSite.approval.tableParams.data.length<=0">
                        No document
                    </div>
                </tab>
            </tabset>
        </div>
    </tab>
    <tab heading="Change Order" ng-click="openAction(actions.changeOrder)">

    </tab>
    <tab heading="Request For Information" ng-click="openAction(actions.requestForInformation)">

    </tab>
    <tab heading="Purchase Order" ng-click="openAction(actions.purchaseOrder)">

    </tab>
    <tab heading="Transmittal" ng-click="openAction(actions.transmittal)">

    </tab>
</tabset>