<div class="content forgot-password-page">
    <div class="logo w-xxxl w-auto-xs">
        <a href class="logo m-b-lg block m-t">
            <img src="img/logo2.png"/>
        </a>
    </div>
    <div class="container w-xxxl w-auto-xs">
        <div class="text-success wrapper text-center" ng-show="msg">
            {{msg}}
        </div>
        <div class="text-center m-t m-b" ng-show="msg"><a ui-sref="signin">Back to Sign in</a></div>
        <div class="m-b-lg" ng-hide="msg">
            <form name="form" class="form-horizontal form-validation" ng-submit="forgotPassword(user)" no-validate
                  autocomplete="false">
                <legend>
                    Recovery Password
                </legend>
                <div class="form-group">
                    <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="fa fa-user"></span><!--<span class="label-required" ng-show="form.username.$error.required">*</span>-->
                                </span>
                        <input name="username" type="text" id="username" ng-model="user.username"
                               class="form-control input-lg"
                               placeholder="Username" required="" ng-pattern="/^[a-z0-9]{3,15}$/">
                    </div>
                    <ng-messages ng-if="form.username.$dirty"
                                 for="form.username.$error">
                        <span class="help-block m-b-none m-l-xxl text-danger" ng-message when="required">Username is missing.</span>
                        <span class="help-block m-b-none m-l-xxl text-danger" ng-message when="pattern">Username is invalid.</span>
                    </ng-messages>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block m-t-lg"
                        ng-disabled="form.$submitted || form.$invalid">Reset
                </button>

                <div class="text-right m-t m-b">Already have an account? <a ui-sref="signin">Sign in</a></div>
            </form>
        </div>
    </div>
</div>