<div class="content forgot-password-page">
    <div class="logo w-xxxl w-auto-xs">
        <a href class="logo m-b-lg block m-t">
            <img src="img/onTargetLogo.png"/>
        </a>
    </div>
    <div class="container w-xxxl w-auto-xs">
        <div class="m-b-lg">
            <form name="form" class="form-validation form-horizontal" ng-submit="forgotPassword(user)" no-validate
                  autocomplete="false">
                <legend>
                    Recovery Password
                </legend>
                <div class="form-group">
                    <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="fa fa-user"></span>
                                </span>
                        <input name="username" type="text" id="username" ng-model="user.username"
                               class="form-control input-lg"
                               placeholder="Username" required="" ng-pattern="/^[a-z0-9]{3,15}$/">
                    </div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block m-t-lg"
                        ng-disabled='form.$invalid || form.$submitted'>Reset
                </button>

                <div class="text-right m-t m-b">Already have an account? <a ui-sref="signin">Sign in</a></div>
            </form>
        </div>
    </div>
</div>