<!--<form name="form" class="form-validation form-horizontal" ng-submit="registerUser(user)" no-validate autocomplete="false">-->
<!--<div class="row">-->
<!--<div class="col-sm-4 col-md-2 " align="center">-->
<!--<div>-->
<!--<a ngf-select ng-model="file" ngf-multiple="false">Upload</a>-->

<!--<div>-->
<!--<img user-avatar-->
<!--src="{{user.userImagePath===''|| user.userImagePath === undefined ? 'images/ontargetassets/user.jpg':user.userImagePath}}"/>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-sm-8 col-md-10">-->
<!--<div class="panel panel-default">-->
<!--<div class="panel-heading font-bold">My profile</div>-->
<!--<div class="panel-body">-->
<!--<form class="bs-example form-horizontal">-->
<!--<div class="form-group">-->
<!--<label class="col-lg-2 control-label">Username</label>-->

<!--<div class="col-lg-10">-->
<!--<input type="text" class="form-control" placeholder="Last name" ng-model="user.username"-->
<!--required>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label class="col-lg-2 control-label">Password</label>-->

<!--<div class="col-lg-10">-->
<!--<input type="password" class="form-control" placeholder="Password" ng-model="user.password"-->
<!--required>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label class="col-lg-2 control-label">Confirm Password</label>-->

<!--<div class="col-lg-10">-->
<!--<input type="password" class="form-control" placeholder="Confirm password"-->
<!--ng-model="confirmpassword" required>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<div class="col-lg-offset-2 col-lg-10">-->
<!--<button type="submit" class="btn btn-sm btn-info" ng-disabled="form.$invalid || form.$submitted || isUploadAvatar">Save</button>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->

<div class="content sign-up-page">
    <div class="logo w-xxxl w-auto-xs">
        <a href class="logo m-b-lg block m-t">
            <img src="img/onTargetLogo.png"/>
        </a>
    </div>
    <div class="container w-xxxl w-auto-xs">
        <form name="form" class="form-horizontal" ng-submit="registerUser(user, form)" novalidate
              autocomplete="false">
            <legend>
                Sign up
            </legend>
            <div class='alert alert-warning'
                 ng-show="submitted && (form.$invalid)">
                <span class="help-inline" ng-show="form.firstName.$error.required">First name is missing.<br/></span>
                <span class="help-inline" ng-show="form.lastName.$error.required">Last name is missing.<br/></span>
                <span class="help-inline" ng-show="form.email.$error.required">Email is missing.<br/></span>
                <span class="help-inline" ng-show="form.email.$error.pattern">Invalid email format.<br/></span>
                <span class="help-inline" ng-show="form.title.$error.required">Title is missing.<br/></span>
                <span class="help-inline" ng-show="form.phoneNumber.$error.required">Phone number is missing.<br/></span>
                <span class="help-inline" ng-show="form.discipline.$error.required">Please select a discipline.<br/></span>
                <span class="help-inline" ng-show="form.username.$error.required">Username is missing.<br/></span>
                <span class="help-inline" ng-show="form.username.$error.pattern">Invalid username format.<br/></span>
                <span class="help-inline" ng-show="form.password.$error.required">Password is missing<br/></span>
                <span class="help-inline" ng-show="form.confirmpassword.$error.compareTo">Confirmation password doesn't match<br/></span>
            </div>
            <div class="row">
                <div class="col-xs-4 avatar-container">
                    <a ngf-select ng-model="file" ngf-multiple="false">
                        <div class="overlay">
                            <p>Change picture</p>
                        </div>
                        <img user-avatar
                             src="{{user.userImagePath === '' || user.userImagePath === undefined ? 'images/ontargetassets/user.jpg' : user.userImagePath}}"/>
                    </a>
                    <div loading-bar="{{percentage}}" class="ng-hide loading-bar m-t-sm" ng-show="isUploadAvatar"></div>
                </div>
                <div class="col-xs-8">
                    <div class="form-group">
                        <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="fa fa-user"></span>
                                </span>
                            <input name="firstName" type="text" id="firstName" ng-model="user.firstName"
                                   class="form-control input-lg"
                                   placeholder="First name" required=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="fa fa-user"></span>
                                </span>
                            <input name="lastName" type="text" id="lastName" ng-model="user.lastName"
                                   class="form-control input-lg"
                                   placeholder="Last name" required=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="fa fa-envelope-o"></span>
                                </span>
                            <input name="email" type="email" id="email" ng-model="user.email"
                                   class="form-control input-lg"
                                   placeholder="Email address" required=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="fa fa-user"></span>
                                </span>
                            <input name="title" type="text" id="title" ng-model="user.title"
                                   class="form-control input-lg"
                                   placeholder="Title" required=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="fa fa-phone"></span>
                                </span>
                            <input name="phoneNumber" type="text" id="phoneNumber" ng-model="user.phoneNumber"
                                   class="form-control input-lg" ui-mask="{{'(999)-999-9999'}}"
                                   placeholder="Phone number" ui-mask-placeholder required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="fa fa-user"></span>
                                </span>
                            <select name="discipline" class="form-control input-lg" ng-model="user.discipline" required>
                                <option class="option_text_color" value="" selected>-- Select --</option>
                                <option class="option_text_color" value="1">Masonry</option>
                                <option class="option_text_color" value="2">Plumbing</option>
                                <option class="option_text_color" value="3">Electrical</option>
                                <option class="option_text_color" value="4">Mechanical</option>
                                <option class="option_text_color" value="5">Interiors</option>
                                <option class="option_text_color" value="6">Landscaping</option>
                                <option class="option_text_color" value="7">Bridges</option>
                                <option class="option_text_color" value="8">Tunnels</option>
                                <option class="option_text_color" value="9">Design</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="fa fa-user"></span>
                                </span>
                            <input name="username" type="text" id="username" ng-model="user.username"
                                   class="form-control input-lg"
                                   placeholder="Username" required=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="fa fa-lock"></span>
                                </span>
                            <input name="password" type="password" id="password" ng-model="user.password"
                                   class="form-control input-lg"
                                   placeholder="Password" required=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="fa fa-lock"></span>
                                </span>
                            <input name="confirmpassword" type="password" id="confirmpassword"
                                   ng-model="confirmpassword"
                                   class="form-control input-lg"
                                   placeholder="Confirm password" compare-to="user.password"/>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block m-t-lg" ng-click="submitted = true">Save</button>
                </div>

            </div>



            <div class="text-right m-t m-b"><a ui-sref="signin">Back to Sign in</a></div>
        </form>
    </div>
</div>