<div class="on-site-page">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">
                        onBIM
                        <button class="btn btn-default pull-right" ng-click="backToList()"><i
                                class="fa fa-arrow-left"></i> Back to list
                        </button>
                    </h1>
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div ui-view></div>
    </div>
</div>
