<style>
    /*div#leftbar*/
    /*{*/
        /*position: absolute;*/
        /*width: 330px;*/
        /*top: 0px;*/
        /*bottom: 0px;*/
        /*border-right: 1px solid #AAA;*/
        /*padding: 10px;*/
        /*overflow: auto;*/

    /*}*/
    /*div#leftbar div#object_info label*/
    /*{*/
        /*font-weight: bold;*/
    /*}*/

    /*div#viewport*/
    /*{*/
        /*position: absolute;*/
        /*left: 0px;*/
        /*top: 0px;*/
        /*right: 0px;*/
        /*bottom: 0px;*/
        /*border-left: 1px solid #AAA;*/
        /*background: #DCDCDC;*/
    /*}*/

    /*.form label span*/
    /*{*/
        /*display: inline-block;*/
        /*width: 150px;*/
    /*}*/
    /*.form label input[type="text"], .form label input[type="password"]*/
    /*{*/
        /*width: 250px;*/
        /*border: 1px solid #AAA;*/
        /*padding: 2px;*/
        /*font-size: 12px;*/
    /*}*/


    /*div.ui-dialog div.ui-dialog-buttonpane button.disabled span.ui-button-text*/
    /*{*/
        /*color: #CCC;*/
        /*cursor: progress;*/
    /*}*/

    /*div#progress_bar*/
    /*{*/
        /*position: absolute;*/
        /*width: 1024px;*/
        /*bottom: 50px;*/
        /*left: 50%;*/
        /*margin-left: -512px;*/
    /*}*/
</style>

<div class="on-site-page">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">
                        onBIM
                        <!--<button  class="btn btn-default pull-right" ><i
                                class="fa fa-arrow-left"></i> Back to list
                        </button>-->
                    </h1>
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md p-r-none" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="search">
                        <div class="input-group m-b">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                          </button>
                        </span>
                            <input type="text" class="form-control" ng-model="searchText" placeholder="Search Project"/>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                <div class="indexStatus statusWrapper">
                  <div class="alert status">
                    <div class="message"></div>
                  </div>
                </div>

                    <div oncontextmenu="return false;">


                    <div id="full_screen">


                        <div id="viewport">

                        </div>

                        <div id="progress_bar"></div>

                    </div>
                        </div>

                </div>
            </div>
        </div>

    </div>
</div>
