<div class="onbim-add-project">
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="m-n font-thin h3 text-black">
                    3D - Update project
                    <a class="btn btn-default pull-right" ui-sref="app.onBim"><i
                            class="fa fa-arrow-left"></i> Back to project list
                    </a>
                </h1>
            </div>
        </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md p-r-none">
        <div class="panel panel-default">
            <div class="panel-body">
                <form name="_form" class="form-horizontal form-validation" ng-submit="updateBimProject()" novalidate ng-include="'onBim/templates/_createOrUpdate.html'">
                </form>
            </div>
        </div>
    </div>
</div>