<div class="modal-header">
    <h3 class="modal-title">Add document</h3>
</div>
<div class="modal-body on-site-upload-document-modal">
    <form name="import_frm" no-validate class="form-horizontal form-validation">
        <div class="btn btn-primary btn-block" ngf-select ngf-pattern="'.xlsx'" ng-model="importModel.file"><i class="fa fa-cloud-upload"></i>
            Choose file
        </div>
        <div class="table-responsive m-t-sm" ng-if="importModel.results.length">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td ng-repeat="h in importModel.headers track by $index" ng-bind="h"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="r in importModel.results track by $index">
                        <td ng-repeat="h in importModel.headers track by $index" ng-bind="r[h]"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>