<div class="on-site-page">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="m-n font-thin h3 text-black" permission="ONSITE_VIEW">
                        onSITE
                        <div class="buttons" ng-show="!isPreview">
                            <button class="btn btn-sm" ng-click="changeMode('grid')"
                                    ng-class="{'btn-info': viewMode==='grid'}"><i
                                    class="fa fa-th-large"></i></button>
                            <button class="btn btn-sm" ng-click="changeMode('list')"
                                    ng-class="{'btn-info': viewMode==='list'}"><i
                                    class="fa fa-reorder"></i></button>
                        </div>
                        <button ng-if="isPreview" class="btn btn-default pull-right" ng-click="backToList()"><i
                                class="fa fa-arrow-left"></i> Back to list
                        </button>
                    </h1>
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md p-r-none" ng-show="!isPreview" permission="ONSITE_VIEW">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-primary" ng-click="upload()" permission="ONSITE_UPLOAD"><i class="fa fa-cloud-upload"></i> Upload
                    </button>
                    <div class="search pull-right">
                        <div class="input-group m-b">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                          </button>
                        </span>
                            <input type="text" class="form-control" ng-model="search.name" placeholder="Search Documents"/>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div ng-if="isLoading" class="row text-center">
                        <spinner text="Loading..."></spinner>
                    </div>
                    <div class="table-responsive" ng-if="viewMode === 'list' && !isLoading">
                        <table class="table table-striped b-t b-light">
                            <thead>
                            <tr>
                                <th style="width: 64px;"></th>
                                <th>Document Name</th>
                                <th>Uploaded by</th>
                                <th>Uploaded on</th>
                                <th style="width: 310px;">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-if="!isLoading && !uploadedDocumentList.length">
                                <td colspan="5">
                                    <alert type="info" class="text-center">No documents</alert>
                                </td>
                            </tr>
                            <!--<tr ng-if="isLoading">
                                <td colspan="5" class="text-center">
                                    <spinner text="Loading..."></spinner>
                                </td>
                            </tr>-->
                            <tr ng-repeat="doc in uploadedDocumentList | filter:search:name track by $index">
                                <td class="file-icon"><a href="javascript:void(0)" ng-click="preview(doc)"><img
                                        ng-src="{{doc.name | fileThumbnail}}"/></a></td>
                                <td><a href="javascript:void(0)" ng-click="preview(doc)"
                                       ng-bind="doc.name | fileName"></a></td>
                                <td ng-bind="doc.createdByContact.firstName + ' ' + doc.createdByContact.lastName"></td>
                                <td ng-bind="doc.createdDate | date:app.dateFormat"></td>
                                <td>
                                    <button type="button" class="btn btn-xs btn-primary" ng-click="preview(doc)">
                                        <i class="fa fa-comment"></i> Comment
                                    </button>
                                    <button type="button" class="btn btn-xs btn-info" ng-click="download(doc)">
                                        <i class="fa fa-download"></i> Download
                                    </button>
                                    <button type="button" class="btn btn-xs btn-warning" ng-click="deleteDocument(doc)" permission="ONSITE_DELETE">
                                        <i class="fa fa-trash"></i> Delete
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <section ng-if="viewMode === 'grid'">
                        <div class="row" ng-if="!isLoading && !uploadedDocumentList.length">
                            <div class="col-xs-12 text-center">
                                <alert type="info" class="text-center">No documents</alert>
                            </div>
                        </div>
                        <div class="row" ng-repeat="docRow in uploadedDocumentArrangedList track by $index">
                            <div class="col-md-3" data-ng-repeat="doc in docRow | filter:search:name track by $index">
                                <article>
                                    <div class="file-thumbnail">
                                        <a href="javascript:void(0)" ng-click="preview(doc)">
                                            <img ng-src="{{doc.name | fileThumbnail}}" height="64px"/>
                                        </a>
                                        <span class="delete-button" ng-click="deleteDocument(doc)" permission="ONSITE_DELETE"><i class="fa fa-times-circle-o"></i></span>
                                    </div>
                                    <div style="text-align:left">
                                        <h5 class="doc-name">
                                            Document name:
                                            <a ng-click="preview(doc)">{{doc.name | fileName}}</a>
                                        </h5>
                                        <h5>
                                            Uploaded on: {{doc.createdDate | date:app.dateFormat}}
                                        </h5>
                                        <h5>
                                            Uploaded by: {{doc.createdByContact.firstName + ' ' +
                                            doc.createdByContact.lastName}}
                                        </h5>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
