<div class="modal-header">
    <h3 class="modal-title">Add document</h3>
</div>
<div class="modal-body on-site-upload-document-modal">
    <form name="document_frm" no-validate class="form-horizontal form-validation">
        <tabset class="tab-container" ng-init="steps={step1:true, step2:false}">
            <tab heading="Choose Document" active="steps.step1">
                <form name="step1" class="form-validation">
                    <upload-box></upload-box>
                    <p class="selected-file file-info" ng-repeat="file in uploadModel.files">
                                <span class="file-icon">
                                    <img ng-src="{{file.fileName | fileicon}}" alt=""/>
                                </span>
                        <span class="file-name" ng-bind="file.fileName"></span>
                                <span class="file-remove-icon" ng-click="removeFile($index)">
                                    <i class="fa fa-times"></i>
                                </span>
                    </p>

                    <div class="m-t m-b text-right">
                        <button type="submit"
                                ng-disabled="step1.$invalid || isUploading || !uploadModel.files.length"
                                class="btn btn-primary btn-rounded" ng-click="steps.step2=true">Next <i
                                class="fa fa-arrow-right"></i></button>
                    </div>
                </form>
            </tab>
            <tab heading="Document information" disabled="step1.$invalid || isUploading || !uploadModel.files.length"
                 active="steps.step2">
                <form name="step2" class="form-validation" ng-submit="saveDocumentInfo(uploadModel, step2)">
                    <p>Name:</p>
                    <input ng-model="uploadModel.name" class="form-control" name="name" required />
                    <p class="m-t">Category:</p>
                    <ui-select ng-model="uiSelectModel.selectedItem"
                               theme="bootstrap"
                               ng-required="true"
                               reset-search-input="false">
                        <ui-select-match placeholder="Select category">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="cat in categories">
                            <div ng-bind-html="cat.name"></div>
                        </ui-select-choices>
                    </ui-select>
                    <p class="m-t">Description:</p>
                    <textarea class="form-control" ng-model="uploadModel.description"
                              name="description"></textarea>

                    <div class="m-t m-b text-right">
                        <button type="submit" ng-disabled="step2.$invalid || step2.$submitted"
                                loading-button="step2.$submitted" size="md"
                                class="btn btn-primary btn-rounded" ng-click="steps.step2=true">
                            <!--<i class="fa fa-info-circle"></i> -->
                            <!--Save document info-->
                            SAVE
                        </button>
                    </div>
                </form>
            </tab>
        </tabset>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>