<div ng-controller="ActivityController" permission="VIEW_ACTIVITY">
    <div class="activity-section">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="search">
                    <div class="input-group m-b">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                          </button>
                        </span>
                        <input type="text" class="form-control" ng-model="search.projectName" placeholder="Search Activities"/>
                    </div>
                </div>
                <div class="heading" id="activity-list-heading">
                    <span class="text">
                        <project-chooser>
                            <span ng-bind="currentProject.projectName"></span>
                        </project-chooser>
                    </span>
                </div>
                <div class="activity-list" custom-scroll fix-height="170">
                    <div class="activity-loading text-center" ng-if="isLoadingActivity">
                        <spinner text="Loading..."></spinner>
                    </div>
                    <div class="text-center" ng-if="!isLoadingActivity && !activities.length">
                        No activities
                    </div>
                    <div class="activity-item"
                         ng-class="{'activity-selected-item': activity.projectId == activitySelected.projectId }"
                         ng-repeat="activity in activities | filter:search:projectName"
                         ng-click="selectActivity(activity)">
                        <div class="info">
                            <div class="title">{{activity.projectName}}</div>
                            <div class="date">
                                <span>{{activity.startDate|date:app.dateFormat}}</span> - <span>{{activity.endDate|date:app.dateFormat}}</span>
                            </div>
                            <div class="tasks">
                                <span ng-repeat="taskCount in activity.taskCountByStatus | filter : {statusType : 'Active'}">{{taskCount.taskCount}} Active</span> |
                                <span ng-repeat="taskCount in activity.taskCountByStatus | filter : {statusType : 'Pending'}">{{taskCount.taskCount}} Pending</span>
                            </div>
                        </div>
                        <div class="status">
                            <div class="percentage">
                                {{activity.percentageComplete}}%
                            </div>
                        </div>
                        <div class="arrow-icon">
                            <i class="fa fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer bg-light lter" id="activity-panel-footer">
                <span dropdown class="dropup">
                    <button class="btn btn-xs btn-primary" type="button" permission="IMPORT_ACTIVITY" dropdown-toggle>Import <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li role="menuitem"><a href="javascript:void(0);" ng-click="import()">Import Data</a></li>
                        <li role="menuitem"><a href="javascript:void(0);" ng-click="downloadTemplate()">Download Template</a></li>
                    </ul>
                </span>
                <button class="btn btn-xs btn-primary" ng-click="createActivity()" permission="ADD_ACTIVITY">Add Activity</button>
                <button class="btn btn-xs btn-info" ng-click="editActivity()" ng-show="activitySelected" permission="EDIT_ACTIVITY">Edit Activity</button>
                <button class="btn btn-xs btn-danger" ng-click="openDeleteActivityModal()" ng-show="activitySelected" permission="DELETE_ACTIVITY">Delete Activity</button>
            </div>
        </div>
    </div>
</div>