<div ng-controller="EditActivityController" class="activity-create-update-section">
    <div class="panel panel-default">
        <div class="panel-heading bg-light lter">
            <span>Edit Activity</span>
        </div>
        <div class="create-edit panel-body">
            <div class="modal-body add-project">
                <form name="form" novalidate class="form-horizontal form-validation">
                    <div ng-include="'onTime/activity/templates/_createOrUpdate.html'"></div>
                </form>
            </div>
        </div>
        <div class="panel-footer bg-light lter">
            <button class="btn btn-xs btn-primary" ng-click="save()"
                    ng-disabled="form.$error['required'] !== undefined || form.$submitted || onSubmit">Save
            </button>
            <button class="btn btn-xs btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>