<!-- list -->
<ul class="nav">
    <li class="header">
        <a href="#">
            <img src="img/icons/hamburger-icon.png"/>
        </a>
    </li>
    <li ui-sref-active="selected" class="item" menu-permission="DASHBOARD">
        <a ui-sref="app.dashboard">
            <img src="img/icons/dashboard-icon-white.png" class="acti" />
            <img src="img/icons/select-arrow.png" class="arrow acti" />
            <img src="img/icons/dashboard-icon.png" class="inacti" />
            <span>DASHBOARD</span>
        </a>
    </li>
    <li ui-sref-active="selected" class="item" menu-permission="ONTIME">
        <a ui-sref="app.onTime">
            <img src="img/icons/onTime-icon-white.png" class="acti" />
            <img src="img/icons/select-arrow.png" class="arrow acti" />
            <img src="img/icons/onTime-icon.png" class="inacti" />
            <span>TASKS</span>
        </a>
    </li>
    <li ui-sref-active="selected" class="item" ng-class="{'menu-selected': $state.current.name == 'app.previewDocument'}" menu-permission="ONSITE">
        <a ui-sref="app.onSite">
            <img src="img/icons/onSite-icon-white.png" class="acti" />
            <img src="img/icons/select-arrow.png" class="arrow acti" />
            <img src="img/icons/onSite-icon.png" class="inacti" />
            <span>FILES</span>
        </a>
    </li>
    <li ui-sref-active="selected" class="item" menu-permission="ONFILE">
        <a ui-sref="app.onFile">
            <img src="img/icons/onFile-icon-white.png" class="acti" />
            <img src="img/icons/select-arrow.png" class="arrow acti" />
            <img src="img/icons/onFile-icon.png" class="inacti" />
            <span>SUBMITTALS</span>
        </a>
    </li>
    <!--<li ui-sref-active="selected" class="item" menu-permission="ONTARGET">-->
        <!--<a ui-sref="app.onTarget">-->
            <!--<img src="img/icons/onTarget-icon-white.png" class="acti" />-->
            <!--<img src="img/icons/select-arrow.png" class="arrow acti" />-->
            <!--<img src="img/icons/onTarget-icon.png" class="inacti" />-->
            <!--<span>ONTARGET</span>-->
        <!--</a>-->
    <!--</li>-->
    <li ui-sref-active="selected"  class="item" menu-permission="ONBIM" ng-class="{'menu-selected': $state.current.name == 'app.onBimCreate' || $state.current.name == 'app.onBimUpdate' || $state.current.name == 'app.onBimDetails'}">
        <a ui-sref="app.onBim">
            <img src="img/icons/onBim-icon-white.png" class="acti" />
            <img src="img/icons/select-arrow.png" class="arrow acti" />
            <img src="img/icons/onBim-icon.png" class="inacti" />
            <span>3D</span>
        </a>
    </li>
    <li ui-sref-active="selected"  class="item" menu-permission="ONCONTACT">
        <a ui-sref="app.onContact">
            <img src="img/icons/onContact-icon-white.png" class="acti" />
            <img src="img/icons/select-arrow.png" class="arrow acti" />
            <img src="img/icons/onContact-icon.png" class="inacti" />
            <span>TEAM</span>
        </a>
    </li>
    <!--<li ui-sref-active="selected"  class="item" menu-permission="ONREPORT">-->
        <!--<a ui-sref="app.onReport">-->
            <!--<img src="img/icons/onReport-icon-white.png" class="acti" />-->
            <!--<img src="img/icons/select-arrow.png" class="arrow acti" />-->
            <!--<img src="img/icons/onReport-icon.png" class="inacti" />-->
            <!--<span>onREPORT</span>-->
        <!--</a>-->
    <!--</li>-->
</ul>
<!-- / list -->