<!-- list -->
<ul class="nav">
    <li class="header">
        <a href="#">
            <img src="img/icons/hamburger-icon.png"/>
        </a>
    </li>
    <li ui-sref-active="selected" class="item" menu-permission="DASHBOARD" permission="VIEW_DASHBOARD">
        <a ui-sref="app.dashboard">
            <img src="img/icons/dashboard-icon-white.png" class="acti" />
            <img src="img/icons/select-arrow.png" class="arrow acti" />
            <img src="img/icons/dashboard-icon.png" class="inacti" />
            <span>Dashboard</span>
        </a>
    </li>
    <li ui-sref-active="selected"  class="item" menu-permission="ONTIME">
        <a ui-sref="app.onTime">
            <img src="img/icons/onTime-icon-white.png" class="acti" />
            <img src="img/icons/select-arrow.png" class="arrow acti" />
            <img src="img/icons/onTime-icon.png" class="inacti" />
            <span>onTIME</span>
        </a>
    </li>
    <li ui-sref-active="selected"  class="item" menu-permission="ONSITE">
        <a ui-sref="app.onSite">
            <img src="img/icons/onSite-icon-white.png" class="acti" />
            <img src="img/icons/select-arrow.png" class="arrow acti" />
            <img src="img/icons/onSite-icon.png" class="inacti" />
            <span>onSITE</span>
        </a>
    </li>
    <li ui-sref-active="selected"  class="item" menu-permission="ONFILE">
        <a ui-sref="app.onFile">
            <img src="img/icons/onFile-icon-white.png" class="acti" />
            <img src="img/icons/select-arrow.png" class="arrow acti" />
            <img src="img/icons/onFile-icon.png" class="inacti" />
            <span>onFILE</span>
        </a>
    </li>
    <li ui-sref-active="selected" ng-class="{'selected': $state.current.name == 'app.previewDocument'}"  class="item" menu-permission="ONTARGET">
        <a ui-sref="app.onTarget">
            <img src="img/icons/onTarget-icon-white.png" class="acti" />
            <img src="img/icons/select-arrow.png" class="arrow acti" />
            <img src="img/icons/onTarget-icon.png" class="inacti" />
            <span>onTARGET</span>
        </a>
    </li>
    <li ui-sref-active="selected"  class="item" menu-permission="ONBIM">
        <a ui-sref="app.onBIM">
            <img src="img/icons/onBim-icon-white.png" class="acti" />
            <img src="img/icons/select-arrow.png" class="arrow acti" />
            <img src="img/icons/onBim-icon.png" class="inacti" />
            <span>onBIM</span>
        </a>
    </li>
    <li ui-sref-active="selected"  class="item" menu-permission="ONCONTACT">
        <a ui-sref="app.onContact">
            <img src="img/icons/onContact-icon-white.png" class="acti" />
            <img src="img/icons/select-arrow.png" class="arrow acti" />
            <img src="img/icons/onContact-icon.png" class="inacti" />
            <span>onCONTACT</span>
        </a>
    </li>
    <li ui-sref-active="selected"  class="item" menu-permission="ONREPORT">
        <a ui-sref="app.onReport">
            <img src="img/icons/onReport-icon-white.png" class="acti" />
            <img src="img/icons/select-arrow.png" class="arrow acti" />
            <img src="img/icons/onReport-icon.png" class="inacti" />
            <span>onREPORT</span>
        </a>
    </li>
</ul>
<!-- / list -->
