<div class="dashboard-page">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">Dashboard
                        <a class="btn btn-default pull-right" permission="VIEW_PROJECT" href="#/app/projectlist"><i
                                class="fa fa-arrow-left"></i> Back to projects list
                        </a>
                    </h1>
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md p-r-none">
            <div class="row">
                <div class="col-xs-12 col-md-6 project-description">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="project-image">
                                <a href="javascript:void(0)">
                                    <img file-path="project" path="{{project.projectImagePath}}"/>
                                </a>
                            </div>
                            <div class="project-info">
                                <h4>
                                    <project-chooser>
                                        <span ng-bind="project.projectName"></span>
                                    </project-chooser>
                                </h4>

                                <div class="project-address">
                                    <p ng-bind-html="project.fullAddress1"></p>

                                    <p ng-bind-html="project.fullAddress2"
                                       ng-if="project.fullAddress2.length"></p>
                                </div>
                                <div class="project-desc" ng-bind-html="project.projectDescription"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 project-date">
                                    <div class="desc">
                                        <p class="large" ng-bind="projectDate.remain >0?projectDate.remain:0"></p>

                                        <p class="small">{{ projectDate.remain > 1 ? 'days remaining' : 'day remaining'
                                            }}</p>
                                    </div>
                                    <div class="start-date">Start date: <span
                                            ng-bind="project.startDate | date:app.dateFormat"></span></div>
                                    <span
                                            round-progress
                                            max="projectDate.total"
                                            current="projectDate.spent"
                                            color="#00d8ff"
                                            bgcolor="#ececec"
                                            radius="80"
                                            stroke="25"
                                            semi="false"
                                            rounded="false"
                                            clockwise="true"
                                            responsive="false"
                                            iterations="10"
                                            animation="easeInOutQuart">
                                    </span>

                                    <div class="end-date">End date: <span
                                            ng-bind="project.endDate | date:app.dateFormat"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-9">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="info-left-icon">
                                <div class="icon">
                                    <img src="img/icons/leaf.png"/>
                                </div>
                                <div class="text"><span ng-bind="dashboardBi.treesSaved.treesSaved"
                                                        class="number"></span> <span class="desc">Trees saved</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="info-left-icon">
                                <div class="icon">
                                    <img src="img/icons/lock.png"/>
                                </div>
                                <div class="text"><span ng-bind="dashboardBi.timeSaved.timeSavedValue"
                                                        class="number"></span> <span class="desc">hrs Time Saved</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="info-left-icon">
                                <div class="icon">
                                    <img src="img/icons/first-aid.png"/>
                                </div>
                                <div class="text"><span ng-bind="dashboardBi.noAccident.noAccidentDays"
                                                        class="number"></span> <span
                                        class="desc">days w/o accidents</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="info-left-icon">
                                <div class="icon">
                                    <img src="img/icons/safety.png"/>
                                </div>
                                <div class="text"><span class="desc" ng-bind="safetyInfo"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="weather-container">
                                <section ng-if="weatherError" class="text-center text-danger">
                                    Cannot get weather
                                </section>
                                <section ng-if="!weatherError">
                                    <div class="icon">
                                        <i class="wi {{ getWeatherIconById() }}"></i>
                                    </div>
                                    <div class="info">
                                        <p class="temp" ng-bind="weather.temp+' F'"></p>

                                        <p class="name" ng-bind="weather.name"></p>

                                        <p class="humidity">Humidity: <span ng-bind="weather.humidity+'%'"></span></p>

                                        <p class="windspeed">Windspeed: <span
                                                ng-bind="weather.windSpeed+'MPM NW'"></span>
                                        </p>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 project-heath">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>Project Health</h4>
                            <!--<canvas id="projectHealth" class="chart chart-line"-->
                            <!--options="options"-->
                            <!--data="data"-->
                            <!--labels="labels"-->
                            <!--legend="true"-->
                            <!--series="series">-->
                            <!--</canvas>-->
                            <div class="legend-container" id="legend-container"></div>
                            <div class="chart-container-outer">
                                <div j-plot class="chart-container" data="plot.data" options="plot.options"
                                     style="height:240px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-8 task-container">
                    <div class="panel panel-default" id="task-container">
                        <div class="panel-body">
                            <tabset class="tab-container">
                                <tab heading="Past due" class="task-past-due" select="taskTabSelect()">
                                    <div class="task-list" custom-scroll>
                                        <div class="task-item" ng-repeat="task in tasks.pastDue">
                                            <div class="task-status">
                                                <div class="percentage">{{task.percentageComplete}}%</div>
                                            <span
                                                    round-progress
                                                    max="100"
                                                    current="task.percentageComplete"
                                                    color="#{{task.percentageComplete | taskStatusColor}}"
                                                    bgcolor="#ececec"
                                                    radius="25"
                                                    stroke="5"
                                                    semi="false"
                                                    rounded="false"
                                                    clockwise="true"
                                                    responsive="false"
                                                    iterations="10"
                                                    animation="easeInOutQuart">
                                            </span>
                                            </div>
                                            <div class="task-info">
                                                <div class="title">{{task.title}}</div>
                                                <div class="assignee">Assigned to: <span>{{task.assignee[0].contact.firstName}}&nbsp;{{task.assignee[0].contact.lastName}}</span>
                                                </div>
                                                <div class="priority"><span class="task-severity-{{task.severity}}"
                                                                            ng-bind="task.severity|taskSeverity"></span>
                                                    priority
                                                </div>
                                            </div>
                                            <div class="task-update-date">
                                                Updated On: <span>{{task.startDate|date:'MM/dd/yyyy'}}</span>
                                            </div>
                                            <div class="task-due-date">
                                                Due Date: <span>{{task.endDate|date:'MM/dd/yyyy'}}</span>
                                            </div>
                                        </div>
                                        <div class="no-result text-center" ng-if="!tasks.pastDue.length">
                                            No tasks was found
                                        </div>
                                    </div>
                                </tab>
                                <tab heading="Active" class="task-active" select="taskTabSelect()">
                                    <div class="task-list" custom-scroll>
                                        <div class="task-item" ng-repeat="task in tasks.active">
                                            <div class="task-status">
                                                <div class="percentage">{{task.percentageComplete}}%</div>
                                            <span
                                                    round-progress
                                                    max="100"
                                                    current="task.percentageComplete"
                                                    color="#{{task.percentageComplete | taskStatusColor}}"
                                                    bgcolor="#ececec"
                                                    radius="25"
                                                    stroke="5"
                                                    semi="false"
                                                    rounded="false"
                                                    clockwise="true"
                                                    responsive="false"
                                                    iterations="10"
                                                    animation="easeInOutQuart">
                                            </span>
                                            </div>
                                            <div class="task-info">
                                                <div class="title">{{task.title}}</div>
                                                <div class="assignee">Assigned to: <span>{{task.assignee[0].contact.firstName}}&nbsp;{{task.assignee[0].contact.lastName}}</span>
                                                </div>
                                                <div class="priority"><span class="task-severity-{{task.severity}}"
                                                                            ng-bind="task.severity|taskSeverity"></span>
                                                    priority
                                                </div>
                                            </div>
                                            <div class="task-update-date">
                                                Updated On: <span>{{task.startDate|date:'MM/dd/yyyy'}}</span>
                                            </div>
                                            <div class="task-due-date">
                                                Due Date: <span>{{task.endDate|date:'MM/dd/yyyy'}}</span>
                                            </div>
                                        </div>
                                        <div class="no-result text-center" ng-if="!tasks.active.length">
                                            No tasks was found
                                        </div>
                                    </div>
                                </tab>
                                <tab heading="Completed" class="task-completed" select="taskTabSelect()">
                                    <div class="task-list" custom-scroll>
                                        <div class="task-item" ng-repeat="task in tasks.completed">
                                            <div class="task-status">
                                                <div class="percentage">{{task.percentageComplete}}%</div>
                                            <span
                                                    round-progress
                                                    max="100"
                                                    current="task.percentageComplete"
                                                    color="#{{task.percentageComplete | taskStatusColor}}"
                                                    bgcolor="#ececec"
                                                    radius="25"
                                                    stroke="5"
                                                    semi="false"
                                                    rounded="false"
                                                    clockwise="true"
                                                    responsive="false"
                                                    iterations="10"
                                                    animation="easeInOutQuart">
                                            </span>
                                            </div>
                                            <div class="task-info">
                                                <div class="title">{{task.title}}</div>
                                                <div class="assignee">Assigned to: <span>{{task.assignee[0].contact.firstName}}&nbsp;{{task.assignee[0].contact.lastName}}</span>
                                                </div>
                                                <div class="priority"><span class="task-severity-{{task.severity}}"
                                                                            ng-bind="task.severity|taskSeverity"></span>
                                                    priority
                                                </div>
                                            </div>
                                            <div class="task-update-date">
                                                Updated On: <span>{{task.startDate|date:'MM/dd/yyyy'}}</span>
                                            </div>
                                            <div class="task-due-date">
                                                Due Date: <span>{{task.endDate|date:'MM/dd/yyyy'}}</span>
                                            </div>
                                        </div>
                                        <div class="no-result text-center" ng-if="!tasks.completed.length">
                                            No tasks was found
                                        </div>
                                    </div>
                                </tab>
                                <tab heading="Due in 7 days" class="task-due-in-7-days" select="taskTabSelect()">
                                    <div class="task-list" custom-scroll="{scrollX:'none', scrollY:'right'}">
                                        <div class="task-item" ng-repeat="task in tasks.dueIn7Day">
                                            <div class="task-status">
                                                <div class="percentage">{{task.percentageComplete}}%</div>
                                            <span
                                                    round-progress
                                                    max="100"
                                                    current="task.percentageComplete"
                                                    color="#{{task.percentageComplete | taskStatusColor}}"
                                                    bgcolor="#ececec"
                                                    radius="25"
                                                    stroke="5"
                                                    semi="false"
                                                    rounded="false"
                                                    clockwise="true"
                                                    responsive="false"
                                                    iterations="10"
                                                    animation="easeInOutQuart">
                                            </span>
                                            </div>
                                            <div class="task-info">
                                                <div class="title">{{task.title}}</div>
                                                <div class="assignee">Assigned to: <span>{{task.assignee[0].contact.firstName}}&nbsp;{{task.assignee[0].contact.lastName}}</span>
                                                </div>
                                                <div class="priority"><span class="task-severity-{{task.severity}}"
                                                                            ng-bind="task.severity|taskSeverity"></span>
                                                    priority
                                                </div>
                                            </div>
                                            <div class="task-update-date">
                                                Updated On: <span>{{task.startDate|date:'MM/dd/yyyy'}}</span>
                                            </div>
                                            <div class="task-due-date">
                                                Due Date: <span>{{task.endDate|date:'MM/dd/yyyy'}}</span>
                                            </div>
                                        </div>
                                        <div class="no-result text-center" ng-if="!tasks.dueIn7Day.length">
                                            No tasks was found
                                        </div>
                                    </div>
                                </tab>
                                <tab heading="Critical" class="task-critical" select="taskTabSelect()">
                                    <div class="task-list" custom-scroll>
                                        <div class="task-item" ng-repeat="task in tasks.critical">
                                            <div class="task-status">
                                                <div class="percentage">{{task.percentageComplete}}%</div>
                                            <span
                                                    round-progress
                                                    max="100"
                                                    current="task.percentageComplete"
                                                    color="#{{task.percentageComplete | taskStatusColor}}"
                                                    bgcolor="#ececec"
                                                    radius="25"
                                                    stroke="5"
                                                    semi="false"
                                                    rounded="false"
                                                    clockwise="true"
                                                    responsive="false"
                                                    iterations="10"
                                                    animation="easeInOutQuart">
                                            </span>
                                            </div>
                                            <div class="task-info">
                                                <div class="title">{{task.title}}</div>
                                                <div class="assignee">Assigned to: <span>{{task.assignee[0].contact.firstName}}&nbsp;{{task.assignee[0].contact.lastName}}</span>
                                                </div>
                                                <div class="priority"><span class="task-severity-{{task.severity}}"
                                                                            ng-bind="task.severity|taskSeverity"></span>
                                                    priority
                                                </div>
                                            </div>
                                            <div class="task-update-date">
                                                Updated On: <span>{{task.startDate|date:'MM/dd/yyyy'}}</span>
                                            </div>
                                            <div class="task-due-date">
                                                Due Date: <span>{{task.endDate|date:'MM/dd/yyyy'}}</span>
                                            </div>
                                        </div>
                                        <div class="no-result text-center" ng-if="!tasks.critical.length">
                                            No tasks was found
                                        </div>
                                    </div>
                                </tab>
                            </tabset>

                            <div class="row row-height">
                                <div class="col-xs-12 col-md-6 task-status-section col-height">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <h4>Task Status</h4>

                                            <div class="status-container">
                                                <div class="status-list">
                                                    <div class="status-item" ng-repeat="taskStatus in tasksStatus">
                                                        <div class="title">{{taskStatus.statusType}} - <span>{{taskStatus.taskCount}}</span>
                                                        </div>
                                                        <div class="progress task-status-{{taskStatus.statusType}}">
                                                            <progressbar class="active progress-striped m-b-sm"
                                                                         value="taskStatus.taskCount/taskStatusCount*100"
                                                                         type="success"></progressbar>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 submittal-status-section col-height">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <h4>Submittal Status</h4>

                                            <div class="doughnut-container">
                                                <canvas id="submittalStatus" height="160" class="chart chart-doughnut"
                                                        options="submittalStatus.options"
                                                        colours="submittalStatus.colours"
                                                        data="submittalStatus.data"
                                                        labels="submittalStatus.labels">
                                                </canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-4 time-line">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <span>Activity Log</span>

                            <div class="timeline-container" custom-scroll id="time-line">
                                <ul class="timeline timeline-center">
                                    <li class="tl-header">
                                        <div class="btn btn-info">Now</div>
                                    </li>
                                    <li ng-repeat="activityLog in activityLogs"
                                        ng-class="$index%2==0?'tl-item':'tl-item tl-left'">
                                        <div class="tl-wrap b-primary">
                                            <span class="tl-date">{{activityLog.tsInsert|date:'hh:mm'}}</span>

                                            <div class="tl-content panel padder b-a block">
                                                <span class="arrow left pull-up hidden-left"></span>
                                                <span class="arrow right pull-up visible-left"></span>

                                                <div class="tl-time">
                                                    <div class="tl-d">{{activityLog.tsInsert|date:'dd'}}</div>
                                                    <div class="tl-dmy">
                                                        <div>{{activityLog.tsInsert|date:'EEEE'}}</div>
                                                        <div>{{activityLog.tsInsert|date:'MMM yyyy'}}</div>
                                                    </div>
                                                </div>
                                                <div class="tl-avatar">
                                                    <img path="{{activityLog.userImage}}" class="image-circle"
                                                         file-path/>
                                                </div>
                                                <div class="tl-content tl-log-text">{{activityLog.text}}</div>

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
