<div class="dashboard-page">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">Dashboard</h1>
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md">
            <div class="row">
                <div class="col-xs-12 col-md-6 project-description">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="project-image">
                                <img image-path="project" ng-src="{{currentProject.projectImagePath}}"/>
                            </div>
                            <div class="project-info">
                                <h4 ng-bind="currentProject.projectName"></h4>
                                <div class="project-address">
                                    <p ng-bind-html="currentProject.fullAddress1"></p>
                                    <p ng-bind-html="currentProject.fullAddress2" ng-if="currentProject.fullAddress2.length"></p>
                                </div>
                                <div class="project-desc" ng-bind-html="currentProject.projectDescription"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 project-heath">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>Project Health</h4>
                            <canvas id="projectHealth" class="chart chart-line"
                                    options="options"
                                    data="data"
                                    labels="labels"
                                    legend="true"
                                    series="series">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-9">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            Trees saved
                        </div>
                        <div class="col-xs-12 col-md-4">
                            Hrs time saved
                        </div>
                        <div class="col-xs-12 col-md-4">
                            days w/o accidents
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            Make it your mission
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    Weather
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    Tasks
                </div>
                <div class="col-xs-12 col-md-4">
                    Activity log
                </div>
            </div>
        </div>
    </div>
</div>
